﻿.div--card {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: -10px;
    height: 300px;
}

.card--input {
    margin-left: 10px !important;
    resize: none;
}

.card--input:focus {
    box-shadow: none;
}

.card--btn {
    height: 100px;
    width: 20%;
    margin-left: 10px !important;
    margin-right: -10px;
    align-items: center;
    background-color: #eee;
    color: rgb(104, 106, 118);
}

    .card--btn:hover {
        border-color: #eee;
        color: #eee;
        background-color: #fff;
        border: solid 1px;
    }

.item--body__content {
    text-align: left;
}

.card--body {
    overflow: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.logins--span__small {
    margin-left: 35%;
}

.logins--span__h5 {
    font-weight: 400;
    word-wrap: break-word;
}

.logins--span {
    width: 100%;
}

#chat-btn {
    cursor: pointer;
}

#MessageField {
    margin-right: -10px;
    border: 1px solid #eee;
    height: 100px;
}

    #MessageField:hover, #MessageField:focus, #MessageField:active {
        box-shadow: none;
        outline: none;
    }

.fa-paper-plane {
    -webkit-margin-before: 40px;
    margin-top: 40px;
}

@-moz-document url-prefix() {
    .fa-paper-plane {
        margin-top: 0;
    }
}