﻿@media (min-width: 1199px) {
    .chat {
        position: fixed;
        height: 100%;
    }

    .chat-actived {
        padding-left: 90px !important;
        padding-right: 190px;
    }

    .right-sidebar {
        position: fixed;
        left: calc(100% - 5.6em);
        height: 100%;
    }

    .narrow {
        left: calc(100% - 17.49em);
    }

    .content-inner {
        padding-left: 280px;
    }
}

@media (min-width: 1366px) {
    .card--body {
        max-height: 650px;
    }

    .div--card {
        min-height: calc(100vh - 300px);
    }

    .form-numeric {
        margin-right: -65px;
    }

    input[name="AwayScore"] {
        margin-right: -75px;
    }

    .table-sidebar {
        min-height: 10vh;
        height: calc(100vh - 253px);
    }

    .statistic {
        padding: 24px 15px !important;
    }
}

@media (max-width: 1800px) {
    input[name="AwayScore"] {
        margin-right: -55px;
    }

    .form-numeric {
        margin-right: -40px;
        padding-right: 0;
    }

    .img-fluid {
        max-width: 80%;
    }
}

@media (max-width: 1500px) {
    input[name="AwayScore"] {
        margin-right: -50px;
    }

    .form-numeric {
        margin-right: -35px;
        padding-right: 0;
    }
}

@media (max-width: 1400px) {
    input[name="AwayScore"] {
        margin-right: -45px;
    }

    .form-numeric {
        margin-right: -35px;
        padding-right: 0;
    }
}

@media (max-width: 1366px) {
    button[type="submit"].s-btn {
        margin-top: 2.5px;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        margin-left: -5px;
    }

    .img-flag {
        max-width: 50px;
        height: auto;
    }

    .form-numeric {
        padding-left: 0;
        padding-right: 10px;
        margin-right: -20px;
    }

    input[name="AwayScore"] {
        border: none;
        background: transparent;
        margin-right: -38px;
    }

    .chart--h1 {
        font-size: 1rem !important;
    }

    .img-fluid {
        max-width: 80%;
    }

    .statistic {
        padding: 9.8px 15px !important;
        font-size: 16px !important;
    }

    .text-center {
        font-size: 16px;
    }

    .statistic h1 {
        font-size: 1rem !important;
    }

    .statistic .text-bold {
        font-size: 1rem !important;
    }
}

@media (max-width: 1199px) {
    .side-navbar.shrinked {
        min-width: 100% !important;
        position: fixed;
        height: 100%;
        overflow: hidden;
    }

    .logins--span__h5 {
        margin-top: 1%;
    }

    .logins--span__small {
        margin-left: 45%;
    }

    .item--body__content {
        width: 100%;
    }

    .item--body {
        width: 100%;
    }

    #chat-btn {
        margin-left: 0;
        margin-top: -15px;
    }

    .onscroll {
        background-color: #FFF;
        border: 1px solid #eee;
        width: 70px;
        z-index: 10;
        position: fixed;
        height: 50px;
        margin-left: -10px;
        padding-left: 14px;
        padding-top: 8px;
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
        transition: none;
    }

    .onscroll--chat {
        margin-left: -27px !important;
        margin-top: 0 !important;
        -webkit-margin-before: 25px !important;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    }

    .style-switch {
        display: none;
    }

    .card--body {
        min-height: calc(100vh - 300px);
    }

    .div--card {
        min-height: calc(100vh - 300px);
    }

    .right-sidebar {
        min-width: 0;
        width: 0;
    }

        .right-sidebar h1 {
            display: block;
        }

    #right-sidebar--stats {
        transition: none;
    }

    #right-sidebar--stats__table {
        display: block;
    }

    nav.right-sidebar .sidebar-header {
        padding: 15px 0;
        margin-left: -50px;
    }

    .narrow {
        min-width: 100%;
        width: 100%;
        position: fixed;
        height: 100%;
    }

    nav.right-sidebar .title h1 {
        margin-left: 30px;
    }

    .form-numeric {
        margin-right: -30px;
        padding-left: 0;
    }

    .title {
        font-size: 1em !important;
        margin: 0 auto !important;
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .login-page .form-holder .info h1 {
        font-size: 1.7em;
    }

    .world-cup-icon {
        width: 40px;
        margin-top: -10px;
        margin-left: -14px;
    }

    #legend {
        display: block;
    }

    header.page-header {
        text-align: center;
    }

    .span-margin-left {
        margin-left: 5%;
    }

    .span-margin-right {
        margin-right: 5%;
    }

    .justify-content-center--margin-left {
        margin-left: 50px;
    }

    .statistic h1 {
        font-size: 0.8rem !important;
    }

    .statistic .text-bold {
        font-size: 0.6rem !important;
    }

    @-moz-document url-prefix() {
        .onscroll--chat {
            margin-top: 50px !important;
        }
    }
}

@media (max-width: 959px) {
    .form-numeric {
        margin-right: -65px;
    }

    input[name="AwayScore"] {
        margin-right: -75px;
    }

    .badge-custom {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1em;
        border-radius: 6px;
    }

    .padding-5-all {
        display: inline-block;
        margin-left: 50px;
        margin-right: auto;
        width: 50%;
        padding: 0;
    }

}

@media (max-width: 500px) {
    .form-numeric {
        margin-right: -45px;
    }

    .padding-5-all {
        margin-left: 30px;
    }

    input[name="AwayScore"] {
        margin-right: -55px;
    }
}

@media (max-width: 360px) {
    .form-numeric {
        padding-right: 15px;
        margin-right: -15px;
        padding-left: 0;
    }

    input[name="AwayScore"] {
        margin-right: -25px;
    }
}
@media (max-width: 1000px) and (min-width: 768px) {
    .title--left {
        margin-left: 0;
    }

    .title--right {
        margin-right: 10px;
    }

    .title {
        font-size: 0.9em !important;
    }

    input[name="AwayScore"] {
        margin: 0 !important;
    }

    .form-numeric {
        margin: 0 !important;
    }

    .text-numeric {
        padding-left: 0;
    }

    .w-25 {
        width: 30px !important;
    }

    section.dashboard-counts div[class*='col-'] .item {
        border-right: none;
    }

    .btn-away-group {
        margin-left: -10px;
    }

    .col-md-3--only-screen-768 {
        margin-left: -10px;
        margin-right: 10px;
    }
}

@media (max-width: 767px) and (min-width: 410px) {
    section.dashboard-counts .hidden-sm-up {
        display: block !important;
    }

    li.nav-item.hidden-sm-up {
        display: block !important;
    }

    .chosen-results.hidden-sm-up {
        display: block !important;
    }

    .page-header.hidden-sm-up {
        display: block !important;
    }

    .title--left {
        margin-left: 0;
    }

    .title--right {
        margin-right: 10px;
    }

    .title {
        font-size: 0.9em !important;
    }

    input[name="AwayScore"] {
        margin: 0 !important;
    }

    .form-numeric {
        margin: 0 !important;
    }

    .text-numeric {
        padding-left: 0;
    }
    
    .w-25 {
        width: 30px !important;
    }

    section.dashboard-counts div[class*='col-'] .item {
        border-right: none;
    }

    .text-bold {
        text-align: center;
    }

    .btn-away-group {
        margin-left: -10px;
    }

    .col-md-3--only-screen-768 {
        margin-left: -10px;
        margin-right: 10px;
    }

    .result {
        width: 25% !important;
    }
}

@media only screen and (width: 1280px) {
    .justify-content-center--margin-left {
         margin-left: -20px;
    }
}