﻿@using BetWorldCup.Enum
@model BetWorldCup.Models.BetViewModels.Bet

@{
    var matchState = ViewBag.MatchState;
    var matchId = ViewBag.MatchId;
    var matchMultiplier = ViewBag.MatchMultiplier;
    var smUp = ViewBag.SmUp;
}

@switch (matchState)
{
    case MatchStateEnum.Past:
    case MatchStateEnum.Present:
        {
            <div class="item d-flex align-items-center h-50">
                <div class="title w-75 text-center">
                    Twój typ:
                </div>
                <div class="title w-25 text-left result">
                    @if (Model == null)
                    {
                        <span class="text-bold">brak</span>
                    }
                    else
                    {
                        <span class="text-bold">@Model.HomeScore - @Model.AwayScore</span>
                    }
                    
                </div>
            </div>

            if (Model == null)
            {
                <div class="item d-flex align-items-center h-50">
                    <div class="title w-85 text-danger text-center">
                        <span>Nie typowałeś w tym meczu!</span>
                    </div>
                </div>
            }
            else if (Model?.BetResult == null)
            {
                <div class="item d-flex align-items-center h-50">
                    <div class="title w-85 text-danger text-center">
                        <span>Brak aktualnego wyniku!</span>
                    </div>
                </div>
            }
            else
            {
                <div class="item d-flex align-items-center h-50">
                    <div class="title w-75 text-center">
                        @Model.BetResult.TypeToString:
                    </div>
                    <div class="title w-25 text-left result">
                        <span class="text-bold">@(Model.BetResult.Points * matchMultiplier) pkt</span>
                    </div>
                </div>
            }
            break;
        }
    case MatchStateEnum.Future:
        {
            if (Model == null)
            {
                <div id="@matchId-your-bet@(smUp)" class="item d-flex align-items-center h-25">
                    <div class="title w-85 text-center">
                        <span>Twój typ: </span>
                    </div>
                </div>
                <div id="@matchId-no-bet@(smUp)" class="item d-flex align-items-center h-25">
                    <div class="title w-85 text-danger text-center">
                        <span class="notTyped">Jeszcze nie typowałeś!</span>
                    </div>
                </div>
            }
            else
            {
                <div class="item d-flex align-items-center h-50">
                    <div class="title w-85 text-center">
                        <span>Twój typ: </span>
                    </div>
                </div>
            }

            <div class="item d-flex align-items-center h-50 justify-content-center">
                <form id="@matchId-form-place-bet@(smUp)" class="form-inline">
                    <input id="@matchId-form-place-bet-BetId@(smUp)" type="hidden" asp-for="BetId" />
                    <div class="d-inline-flex justify-content-center justify-content-center--margin-left">
                        <div class="btn-group-vertical">
                            <span class="add-home-@matchId btn-add-remove"><i class="fa fa-plus"></i></span>
                            <span class="remove-home-@matchId btn-add-remove"><i class="fa fa-minus"></i></span>
                        </div>
                        <input id="@matchId-form-place-bet-HomeScore@(smUp)" type="number" asp-for="HomeScore" min="0" step="1" class="form-numeric w-25 input-numeric" />
                        <div class="text-numeric"><strong> : </strong></div>
                        <input id="@matchId-form-place-bet-AwayScore@(smUp)" type="number" asp-for="AwayScore" min="0" step="1" class="form-numeric w-25 input-numeric" />
                        <div class="text-numeric"></div>
                        <div class="btn-group-vertical btn-away-group">
                            <span class="add-away-@matchId btn-add-remove"><i class="fa fa-plus"></i></span>
                            <span class="remove-away-@matchId btn-add-remove"><i class="fa fa-minus"></i></span>
                        </div>
                        <button id="@matchId-place-bet@(smUp)" type="submit" class="s-btn"><i class="fa fa-save"></i></button>
                    </div>
                </form>
            </div>
            break;
        }
}

@if (matchMultiplier != 1 && smUp == "")
{
    <span data-toggle="tooltip"
          data-placement="bottom"
          title="Całkowity mnożnik (drużyny i mecz) x@(matchMultiplier)!"
          class="badge bg-red badge-corner badge-custom away">x@(matchMultiplier)</span>
}
else if (matchMultiplier != 1)
{
    <span data-toggle="tooltip"
          data-placement="bottom"
          title="Całkowity mnożnik (drużyny i mecz) x@(matchMultiplier)!"
          class="badge bg-red badge-corner badge-custom mobile">x@(matchMultiplier)</span>
}

<script>
    $(document).ready(function () {

        var addHome = $('.add-home-@matchId');
        var minusHome = $('.remove-home-@matchId');
        var addAway = $('.add-away-@matchId');
        var minusAway = $('.remove-away-@matchId');
        var inputHome = $('#@matchId-form-place-bet-HomeScore@(smUp)');
        var inputAway = $('#@matchId-form-place-bet-AwayScore@(smUp)');
        var inputHome_val = inputHome.val();
        var inputAway_val = inputAway.val();

        addHome.click(function () {
            inputHome_val++;
            inputHome.val(inputHome_val);
        });
        minusHome.click(function () {
            if (inputHome.val() > 0) {
                inputHome_val--;
                inputHome.val(inputHome_val);
            }
        });

        addAway.click(function () {
            inputAway_val++;
            inputAway.val(inputAway_val);
        });
        minusAway.click(function () {
            if (inputAway.val() > 0) {
                inputAway_val--;
                inputAway.val(inputAway_val);
            }
        });
    });
</script>