﻿@using BetWorldCup.Enum
@model BetWorldCup.Models.BetViewModels.Match

@{
    var homeLogo = Url.Content($"~/img/flags/{Model.HomeTeam.ShortName}.jpg");
    var awayLogo = Url.Content($"~/img/flags/{Model.AwayTeam.ShortName}.jpg");
    var bet = Model.Bets.FirstOrDefault(p => p.User.Email == User.Identity.Name);
    var matchState = Model.StartDate > DateTime.Now ? MatchStateEnum.Future : Model.StartDate.AddHours(2) > DateTime.Now ? MatchStateEnum.Present : MatchStateEnum.Past;
}


<section class="dashboard-counts padding-10">
    <div id="@Model.HomeTeam.ShortName-@Model.AwayTeam.ShortName" class="container-fluid">
        <div class="row bg-white has-shadow hidden-sm-down">
            <!-- Item -->
            <div class="col-md-3">
                <div class="item d-flex align-items-center h-100">
                    <img src="@homeLogo" class="img-flag" alt="" />
                    <div class="title">
                        <span class="title--left">
                            <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.HomeTeam.TeamId">
                                @Model.HomeTeam.LongName
                            </a>
                        </span>
                    </div>
                </div>
                @if (Model.HomeTeam.Multiplier != 1)
                {
                    <span data-toggle="tooltip"
                          data-placement="bottom"
                          title="Punkty tej drużyny mnożymy x@(Model.HomeTeam.Multiplier)!"
                          class="badge bg-green badge-corner badge-custom home">x@(Model.HomeTeam.Multiplier)</span>
                }
            </div>
            <div class="col-md-3">
                @if (matchState == MatchStateEnum.Future)
                {
                    <div class="item d-flex align-items-center h-50">
                        <div class="title w-85 text-center">
                            <span>Data rozpoczęcia meczu:</span>
                        </div>
                    </div>
                    <div class="item d-flex align-items-center h-50">
                        <div class="title w-85 text-center">
                            <span class="text-bold">@Model.StartDate.ToString("MMM dd, HH:mm")</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item d-flex align-items-center h-50">
                        <div class="title w-85 text-center">
                            <span>Wynik -</span><span class="text-bold">&nbsp;@Model.StartDate.ToString("MMM dd, HH:mm")</span>
                        </div>
                    </div>
                    <div class="item d-flex align-items-center h-50">
                        <div class="number w-85 text-center">
                            <strong>
                                <a asp-controller="Home" asp-action="SingleMatch" asp-route-id="@Model.MatchId">
                                    @Model.HomeScore : @Model.AwayScore
                                </a>
                            </strong>
                        </div>
                    </div>
                }
                @if (Model.Multiplier != 1)
                {
                    <span data-toggle="tooltip"
                          data-placement="bottom"
                          title="Punkty za ten mecz mnożymy x@(Model.Multiplier)!"
                          class="badge bg-orange badge-corner badge-custom home">x@(Model.Multiplier)</span>
                }
            </div>
            <div class="col-md-3 col-md-3--only-screen-768">
                @Html.Partial("~/Views/Home/Partials/_Bet.cshtml", bet, new ViewDataDictionary(ViewData) { { "MatchState", matchState }, { "MatchId", Model.MatchId }, { "MatchMultiplier", Model.Multiplier * Model.HomeTeam.Multiplier * Model.AwayTeam.Multiplier }, { "SmUp", "" } })
            </div>
            <div class="col-md-3">
                <div class="item d-flex align-items-center h-100 pull-right">
                    <div class="title">
                        <span class="title--right">
                            <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.AwayTeam.TeamId">
                                @Model.AwayTeam.LongName
                            </a>
                        </span>
                    </div>
                    <img src="@awayLogo" class="img-flag" alt="" />
                </div>
                @if (Model.AwayTeam.Multiplier != 1)
                {
                    <span data-toggle="tooltip" 
                          data-placement="bottom" 
                          title="Punkty tej drużyny mnożymy x@(Model.AwayTeam.Multiplier)!" 
                          class="badge bg-green badge-corner badge-custom away">x@(Model.AwayTeam.Multiplier)</span>
                }
            </div>
        </div>
        <div class="row bg-white has-shadow hidden-sm-up">
            <!-- Item -->
            <div class="col">
                <div class="d-flex align-items-center align-content-center">
                    <div class="col-md-3">
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <span>
                                    <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.HomeTeam.TeamId">
                                        @Model.HomeTeam.LongName
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <span>
                                    <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.AwayTeam.TeamId">
                                        @Model.AwayTeam.LongName
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center align-content-center">
                    <div class="col-md-3">
                        <img src="@homeLogo" class="img-flag center" alt="" />
                    </div>
                    <div class="col-md-3">
                        <img src="@awayLogo" class="img-flag center" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @if (matchState == MatchStateEnum.Future)
                {
                    <div class="item d-flex align-items-center h-50 align-content-center">
                        <div class="title w-85 text-center">
                            <span>Data rozpoczęcia meczu:</span>
                        </div>
                    </div>
                    <div class="item d-flex align-items-center h-50">
                        <div class="title w-100 text-center">
                            <span class="text-bold">@Model.StartDate.ToString("MMM dd, HH:mm")</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item d-flex align-items-center h-50 align-content-center">
                        <div class="title w-85 text-center">
                            <span>Wynik -</span><span class="text-bold">&nbsp;@Model.StartDate.ToString("MMM dd, HH:mm")</span>
                        </div>
                    </div>
                    <div class="item d-flex align-items-center h-50">
                        <div class="number w-100 text-center">
                            <strong>
                                <a asp-controller="Home" asp-action="SingleMatch" asp-route-id="@Model.MatchId">
                                    @Model.HomeScore : @Model.AwayScore
                                </a>
                            </strong>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                @Html.Partial("~/Views/Home/Partials/_Bet.cshtml", bet, new ViewDataDictionary(ViewData) { { "MatchState", matchState }, { "MatchId", Model.MatchId }, { "MatchMultiplier", Model.Multiplier * Model.HomeTeam.Multiplier * Model.AwayTeam.Multiplier }, {"SmUp", "-sm-up"} })
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        if ($("#@Model.MatchId-form-place-bet-HomeScore").val() === "")
            $("#@Model.MatchId-form-place-bet-HomeScore").val(0);
        if ($("#@Model.MatchId-form-place-bet-AwayScore").val() === "")
            $("#@Model.MatchId-form-place-bet-AwayScore").val(0);
        if ($("#@Model.MatchId-form-place-bet-HomeScore-sm-up").val() === "")
            $("#@Model.MatchId-form-place-bet-HomeScore-sm-up").val(0);
        if ($("#@Model.MatchId-form-place-bet-AwayScore-sm-up").val() === "")
            $("#@Model.MatchId-form-place-bet-AwayScore-sm-up").val(0);

        $("#@Model.MatchId-place-bet").on("click",
            function (e) {
                e.preventDefault();

                var $this = $(this);


                if (StartPosting($this)) {

                    var url = '@Url.Action("PlaceBet", "Home")',
                        data = {
                            BetId: $("#@Model.MatchId-form-place-bet-BetId").val(),
                            HomeScore: $("#@Model.MatchId-form-place-bet-HomeScore").val(),
                            AwayScore: $("#@Model.MatchId-form-place-bet-AwayScore").val()
                        };

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: {
                            model: data,
                            matchId: @Model.MatchId
                        },
                        success: function (result) {
                            if (result.ok) {
                                $("#@Model.MatchId-form-place-bet-BetId").val(result.betId);
                                if ($("#@Model.MatchId-no-bet") != undefined) {
                                    $("#@Model.MatchId-no-bet").remove();
                                    $("#@Model.MatchId-your-bet").removeClass("h-25");
                                    $("#@Model.MatchId-your-bet").addClass("h-50");
                                }
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error : function() {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });

        $("#@Model.MatchId-place-bet-sm-up").on("click",
            function (e) {
                e.preventDefault();

                var $this = $(this);


                if (StartPosting($this)) {

                    var url = '@Url.Action("PlaceBet", "Home")',
                        data = {
                            BetId: $("#@Model.MatchId-form-place-bet-BetId-sm-up").val(),
                            HomeScore: $("#@Model.MatchId-form-place-bet-HomeScore-sm-up").val(),
                            AwayScore: $("#@Model.MatchId-form-place-bet-AwayScore-sm-up").val()
                        };

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: {
                            model: data,
                            matchId: @Model.MatchId
                        },
                        success: function (result) {
                            if (result.ok) {
                                $("#@Model.MatchId-form-place-bet-BetId-sm-up").val(result.betId);
                                if ($("#@Model.MatchId-no-bet-sm-up") != undefined) {
                                    $("#@Model.MatchId-no-bet-sm-up").remove();
                                    $("#@Model.MatchId-your-bet-sm-up").removeClass("h-25");
                                    $("#@Model.MatchId-your-bet-sm-up").addClass("h-50");
                                }
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error : function() {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
    });
</script>