﻿@model BetWorldCup.Models.BetViewModels.Bet

@{
    var matchId = ViewBag.MatchId;
    var smUp = ViewBag.SmUp;
}

<form id="@matchId-form-place-bet@(smUp)" class="form-inline">
    <input id="@matchId-form-place-bet-BetId@(smUp)" type="hidden" asp-for="BetId"/>
    <div class="d-inline-flex justify-content-center justify-content-center--margin-left">
        <div class="btn-group-vertical">
            <span class="add-home-@matchId btn-add-remove"><i class="fa fa-plus"></i></span>
            <span class="remove-home-@matchId btn-add-remove"><i class="fa fa-minus"></i></span>
        </div>
        <input id="@matchId-form-place-bet-HomeScore@(smUp)" type="number" asp-for="HomeScore" min="0" class="form-numeric w-25" />
        <div class="text-numeric"><strong> : </strong></div>
        <input id="@matchId-form-place-bet-AwayScore@(smUp)" type="number" asp-for="AwayScore" min="0" class="form-numeric w-25" />
        <div class="text-numeric"></div>
        <div class="btn-group-vertical btn-away-group">
            <span class="add-away-@matchId btn-add-remove"><i class="fa fa-plus"></i></span>
            <span class="remove-away-@matchId btn-add-remove"><i class="fa fa-minus"></i></span>
        </div>
        <button id="@matchId-place-bet@(smUp)" type="submit" class="s-btn"><i class="fa fa-save"></i></button>
    </div>
</form>

<script>
    $(document).ready(function () {

        var addHome = $('.add-home-@matchId');
        var minusHome = $('.remove-home-@matchId');
        var addAway = $('.add-away-@matchId');
        var minusAway = $('.remove-away-@matchId');
        var inputHome = $('#@matchId-form-place-bet-HomeScore@(smUp)');
        var inputAway = $('#@matchId-form-place-bet-AwayScore@(smUp)');
        var inputHome_val = inputHome.val();
        var inputAway_val = inputAway.val();

        addHome.click(function () {
            inputHome_val++;
            inputHome.val(inputHome_val);
        });
        minusHome.click(function () {
            if (inputHome.val() > 0) {
                inputHome_val--;
                inputHome.val(inputHome_val);
            }
        });

        addAway.click(function () {
            inputAway_val++;
            inputAway.val(inputAway_val);
        });
        minusAway.click(function () {
            if (inputAway.val() > 0) {
                inputAway_val--;
                inputAway.val(inputAway_val);
            }
        });
    });
</script>