﻿<div class="row">
    <div class="col-11">
        <div class="daily-feeds card div--card">
            <div class="card-header">
                <h3 class="h4">Witamy na czacie:</h3>
                @Html.Hidden("appname", User.AppName())
                @Html.Hidden("UrlAddMessage", Url.Action("InsertChatMessage", "Chat"))
                @Html.Hidden("GetChatMessages", Url.Action("GetChatMessages", "Chat"))
            </div>
            <div class="card-body no-padding card--body" id="scrollDown">
                <!-- Item-->
                <div class="item">
                    <div class="feed d-flex justify-content-between">
                        <div class="feed-body d-flex justify-content-between item--body">
                            <div class="content item--body__content">
                                <div id="logins"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group">
            <textarea id="MessageField" name="MessageField[0]" class="input-material card card--input" placeholder="Napisz wiadomość..."></textarea>
            <button id="sendmes" class="card card--btn">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
        
    </div>
</div>