﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_GoogleAnalytics")
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Bet World Cup</title>
    <link rel="shortcut icon" href="~/img/favicon.ico" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.min.css"/>
    </environment>

    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.blue.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom_20180627.css">
    <!-- Media Queries-->
    <link href="~/css/media_20180626.css" rel="stylesheet" />
    <!-- Font Awesome CDN-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>
    <!-- Page Body-->
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Page Footer-->
        <div class="copyrights text-center">
            <p>
                Project by: <a href="mailto:ivaan84@gmail.com">ivIT</a>, <a href="mailto:jakubkaczmarek92@gmail.com">JKaczmarek</a>, <a href="mailto:marek.szupienko@gmail.com">MSzupieńko</a>
            </p>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/scripts/front.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/scripts/front.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    @* ReSharper disable once Mvc.ViewComponentNotResolved *@
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
