﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_GoogleAnalytics")
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Bet World Cup</title>
    <link rel="shortcut icon" href="~/img/favicon.ico"/>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.min.css" />
        <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    </environment>

    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.blue.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom_20180627.css">
    <!-- Media Queries-->
    <link href="~/css/media_20180626.css" rel="stylesheet" />
    <!-- Font Awesome CDN-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Chat stylesheet & scripts -->
    <link href="~/css/chat.css" rel="stylesheet" />
    <!-- Cookies stylesheet & scripts-->
    <link rel="stylesheet" href="~/css/accept-cookies.css" />
    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/scripts/chat_28062018.js"></script>
        <script src="~/scripts/cookiepopup.js"></script>
        <script src="~/lib/chart.js/Chart.js"></script>
        <script src="~/scripts/front.js"></script>
        <script src="~/lib/toastr.js/toastr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/chart.js/Chart.min.js"></script>
        <script src="~/scripts/chat_28062018.js"></script>
        <script src="~/scripts/front.js"></script>
        <script src="~/scripts/cookiepopup.js"></script>
        <script src="~/lib/toastr.js/toastr.min.js"></script>
    </environment>

</head>
<body>
    <div class="page">
        <header class="header">
            @Html.Partial("_Navbar")
        </header>
        <div class="page-content d-flex align-items-stretch">
            <nav class="side-navbar chat">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="icon bg-black" id="chat-btn"><i class="fa fa-comments fa-2x"></i></div>
                    <div class="title">
                        <h1 class="h4">Czat</h1>
                    </div>
                </div>

                <div class="style-switch">
                    <div class="styleChat">
                        @Html.Partial("_Chat")
                    </div>
                </div>

            </nav>
            <div class="content-inner">
                @RenderBody()

                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    Project by: <a href="mailto:ivaan84@gmail.com">ivIT</a>, <a href="mailto:jakubkaczmarek92@gmail.com">JKaczmarek</a>, <a href="mailto:marek.szupienko@gmail.com">MSzupieńko</a>
                                </p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>
                                    Theme by: <a href="https://bootstrapious.com/admin-templates">Bootstrapious</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <nav class="right-sidebar">
                <div class="sidebar-header d-flex align-items-center">
                    <div class="icon bg-black"><a id="right-sidebar--stats" href="#"><i class="fa fa-bar-chart fa-2x"></i></a></div>
                    <div class="title">
                        <h1 class="h4">Tabela</h1>
                    </div>
                </div>
                <div class="col-12" id="legend">
                    @Html.Partial("~/Views/Stats/Tables/_Legend.cshtml")
                </div>
                <div id="right-sidebar--stats__table" class="col-md-12">
                    @Html.RenderAction("FullClassificationTable", "Stats", "", new { overflow = true })
                </div>
            </nav>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    @* ReSharper disable once Mvc.ViewComponentNotResolved *@
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
