﻿@using System.Security.Claims
@{
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.GivenName);
    var userName = claim.Value;
}

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
            <!-- Navbar Header-->
            <div class="navbar-header">
                <!-- Navbar Brand -->
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <div class="brand-text brand-big"><span>Bet </span><strong>WorldCup</strong></div>
                    <div class="brand-text brand-small"><strong>BWC</strong></div>
                </a>
            </div>

            <!-- Navbar Menu Logout-->
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Admin Menu  -->
            @if (User.IsInRole("ADMIN"))
            {
                <li class="nav-item dropdown">
                    <a id="adminMenuDropdown" rel="nofollow" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle">
                        <i class="fa fa-bars"></i> <span id="" class="d-none d-sm-inline-block">Panel Administratora</span>
                    </a>
                    <ul aria-labelledby="menuDropdown" class="dropdown-menu">
                        <li><a asp-controller="Admin" asp-action="Index" class="dropdown-item"><i class="fa fa-futbol-o"></i> Wyniki</a></li>
                        <li><a asp-controller="Admin" asp-action="ListOfMatches" class="dropdown-item"><i class="fa fa-address-book-o"></i> Mecze</a></li>
                        <li><a asp-controller="Admin" asp-action="Teams" class="dropdown-item"><i class="fa fa-calendar-o"></i> Drużyny</a></li>
                        <li><a asp-controller="Admin" asp-action="Users" class="dropdown-item"><i class="fa fa-user-o"></i> Użytkownicy</a></li>
                        <li><a asp-controller="Admin" asp-action="DeleteUsers" class="dropdown-item"><i class="fa fa-user-o"></i> Usuwanie użytkowników</a></li>
                        <li><a asp-controller="Admin" asp-action="GoogleAnalytics" class="dropdown-item"><i class="fa fa-bar-chart-o"></i> Statystyki Google</a></li>
                    </ul>
                </li>
            }
                <!-- Menu    -->
                <li class="nav-item dropdown">
                    <a id="menuDropdown" rel="nofollow" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle">
                        <i class="fa fa-bars"></i> <span id="" class="d-none d-sm-inline-block">Menu</span>
                    </a>
                    <ul aria-labelledby="menuDropdown" class="dropdown-menu">
                        <li><a asp-controller="Home" asp-action="Index" class="dropdown-item"><i class="fa fa-home"></i> Strona główna</a></li>
                        <li><a asp-controller="Home" asp-action="AllMatches" class="dropdown-item"><i class="fa fa-futbol-o"></i> Wszystkie mecze</a></li>
                        <li><a asp-controller="Stats" asp-action="ResultAllStats" class="dropdown-item"><i class="fa fa-bar-chart-o"></i> Statystyki</a></li>
                        <li><a asp-controller="Docs" asp-action="Rules" class="dropdown-item"><i class="fa fa-book"></i> Regulamin</a></li>
                        <li><a asp-controller="Stats" asp-action="UserData" asp-route-user="@userName" class="dropdown-item"><i class="fa fa-user-o"></i> Twoje dane</a></li>
                        <li><a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item"><i class="fa fa-key"></i> Zmień hasło</a></li>

                    </ul>
                </li>
                <!-- Logout    -->
                <li class="nav-item">
                    <a class="nav-link nav-link--help" 
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Napisz do nas jeśli coś Ci nie działa!"
                       href="mailto:support@betworldcup.pl" alt="">
                        <i class="fa fa-question"></i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link logout">
                        Wyloguj <i class="fa fa-sign-out"></i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-up">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link logout">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}