﻿@{
    ViewData["Title"] = "Polityka prywatności";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="col-lg-12 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="text-center">Polityka prywatności</h2>
                </div>
                <div class="panel-body">
                    <p class="text-justify">
                        <b>1.</b> Serwis zbiera w sposób automatyczny tylko informacje zawarte w plikach cookies.
                    </p>
                    <p class="text-justify">
                        <b>2.</b> Pliki (cookies) są plikami tekstowymi, które przechowywane są w urządzeniu końcowym użytkownika serwisu. Przeznaczone są do korzystania ze stron serwisu. Przede wszystkim zawierają nazwę strony internetowej swojego pochodzenia, swój unikalny numer, czas przechowywania na urządzeniu końcowym.
                    </p>
                    <p class="text-justify">
                        <b>3.</b> Operator serwisu ivIT jest podmiotem zamieszczającym na urządzeniu końcowym swojego użytkownika pliki cookies oraz mającym do nich dostęp.
                    </p>
                    <p class="text-justify">
                        <b>4.</b> Operator serwisu wykorzystuje pliki (cookies) w celu:
                    </p>
                    <ul>
                        <li>dopasowania zawartości strony internetowej do indywidualnych preferencji użytkownika, przede wszystkim pliki te rozpoznają jego urządzenie, aby zgodnie z jego preferencjami wyświetlić stronę</li>
                        <li>przygotowywania statystyk pomagających poznaniu preferencji i zachowań użytkowników, analiza tych statystyk jest anonimowa i umożliwia dostosowanie zawartości i wyglądu serwisu do panujących trendów, statystyki stosuje się też do oceny popularności strony</li>
                        <li>możliwości logowania do serwisu</li>
                        <li>utrzymania logowania użytkownika na każdej kolejnej stronie serwisu</li>
                    </ul>
                    <p class="text-justify">
                        <b>5.</b> Serwis stosuje dwa zasadnicze rodzaje plików (cookies) - sesyjne i stałe. Pliki sesyjne są tymczasowe, przechowuje się je do momentu opuszczenia strony serwisu (poprzez wejście na inną stronę, wylogowanie lub wyłączenie przeglądarki). Pliki stałe przechowywane są w urządzeniu końcowym użytkownika do czasu ich usunięcia przez użytkownika lub przez czas wynikający z ich ustawień.
                    </p>
                    <p class="text-justify">
                        <b>6.</b> Użytkownik może w każdej chwili dokonać zmiany ustawień swojej przeglądarki, aby zablokować obsługę plików (cookies) lub każdorazowo uzyskiwać informacje o ich umieszczeniu w swoim urządzeniu.Inne dostępne opcje można sprawdzić w ustawieniach swojej przeglądarki internetowej.Należy pamiętać, że większość przeglądarek domyślnie jest ustawione na akceptację zapisu plików (cookies) w urządzeniu końcowym.
                    </p>
                    <p class="text-justify">
                        <b>7.</b> Operator Serwisu informuje, że zmiany ustawień w przeglądarce internetowej użytkownika mogą ograniczyć dostęp do niektórych funkcji strony internetowej serwisu.
                    </p>
                    <p class="text-justify">
                        <b>8.</b> Pliki (cookies) z których korzysta serwis (zamieszczane w urządzeniu końcowym użytkownika) mogą być udostępnione jego partnerom oraz współpracującym z nim reklamodawcą.
                    </p>
                    <p class="text-justify">
                        <b>9.</b> Informacje dotyczące ustawień przeglądarek internetowych dostępne są w jej menu (pomoc) lub na stronie jej producenta.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>