﻿@{
    ViewData["Title"] = "Regulamin";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="col-lg-12 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="text-center">Regulamin</h2>
                </div>
                <div class="panel-heading">
                    <h4 class="panel-title">Postanowienie ogólne</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>BetWorldCup.pl jest to aplikacja, w której obstawiając wyniki meczów Mistrzostw Świata 2018 możesz rywalizować z innymi użytkownikami. Zwycięzcą zostanie użytkownik, który po zakończeniu wszystkich meczów uzbiera najwięcej punktów.</li>
                        <li>Rywalizacja w obstawianiu wyników ma charakter czysto rozrywkowy. Za uczestnictwo nie są pobierane żadne opłaty ani nie jest przewidziana żadna nagroda.</li>
                        <li>Jedna osoba może dysponować tylko jednym kontem jeżeli będzie inaczej dany użytkownik zostanie zablokowany.</li>
                        <li>Jest to projekt hobbystyczny, którego przygotowanie miało na celu poznanie technologii ASP.NET CORE 2.0, Bootstrap v4 i innych.</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Obstawianie</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Mecze można obstawiać do rozpoczęcia meczu. Po gwizdku rozpoczynającym mecz opcja ta zostanie wyłączona.</li>
                        <li>Obstawiamy tylko regulaminowy czas gry, dogrywki lub karne nie podlegają obstawianiu.</li>
                        <li>
                            Punktacja za mecz:
                            <ul style="list-style-type: square; list-style-position: inside; padding-left: 0;">
                                <li>Trafiony dokładny wynik – <b>15 pkt</b></li>
                                <li>Trafiony rezultat (zwycięstwo/remis/porażka) – <b>5 pkt</b></li>
                                <li>Nietrafiony wynik – <b>1 pkt</b> (w celu nagrodzenia systematyczności typowania)</li>
                                <li>Punkty się nie sumują, przykładowo za "Trafiony rezultat" dostajemy dokładnie <b>5 pkt</b></li>
                            </ul>
                            Dodatkowe punkty:
                            <ul style="list-style-type: square; list-style-position: inside; padding-left: 0;">
                                <li>Punkty za mecze reprezentacji Polski mnożone są<b> x 2</b></li>
                                <li>Punkty za mecze w fazie pucharowej mnożone są<b> x 2</b> (z udziałem Polski x 4)</li>
                                <li>Punkty za finał mnożone są <b> x 3</b> (z udziałem Polski x 6)</li>
                            </ul>
                        </li>
                        <li>Mecze możemy obstawiać tylko po zalogowaniu, wpisując wynik w przeznaczone do tego pola. Typ zapisujemy klikając przycisk z rysunkiem dyskietki.</li>
                        <li>Nasz typ możemy dowolnie zmieniać do czasu rozpoczęcia meczu (ta sama procedura co w poprzednim punkcie)</li>
                        <li>Wyniki meczów oraz statystyki będą aktualizowane na bieżąca w trakcie trwania meczów.</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Klasyfikacja generalna</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            O układzie w tabeli decydują w następującej kolejności:
                            <ul style="list-style-type:decimal; list-style-position: inside; padding-left: 0;">
                                <li>Zdobyte punkty</li>
                                <li>Ilość dokładnie wytypowanych wyników</li>
                                <li>Ilość trafionych rezultatów</li>
                                <li>Ilość nietrafionych meczów</li>
                                <li>W przypadku remisu we wszystkich powyższych punktach użytkownicy zajmują razem jedno miejsce</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


