﻿@model int

<canvas id="barChartMatchScoreRatio"></canvas>

<script>
    $(function () {

        var dataA = {
            matchId : '@Model'
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("BarChartMatchScoreRatio", "Stats")',
            cache: false,
            data: dataA,
            success: function (result) {
                if (result.ok) {
                var ctx1 = $("canvas").get(0).getContext("2d");
                var gradient1 = ctx1.createLinearGradient(0, 0, 500, 0);
                gradient1.addColorStop(0, 'rgba(133, 180, 242, 0.91)');
                gradient1.addColorStop(1, 'rgba(255, 119, 119, 0.94)');

                var dataT = {
                    labels: result.chData[0],
                    datasets: [
                        {
                            data: result.chData[1],
                            backgroundColor: gradient1,
                            hoverBackgroundColor: gradient1,
                            borderColor: gradient1,
                            borderWidth: 1
                        }
                    ]
                };
                var ctx = $("#barChartMatchScoreRatio");

                // ReSharper disable once UnusedLocals
                var prototype = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: dataT,
                    options: {
                        scales:
                        {
                            xAxes: [{
                                position: 'top',
                                display: true,
                                gridLines: {
                                    color: '#eee'
                                },
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: Math.max.apply(null, result.chData[1]) + 1
                                }
                            }],
                            yAxes: [{
                                display: true,
                                gridLines: {
                                    color: '#eee'
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
                } else {
                    ShowToaster(result.message, "error");
                }
            },
            error: function () {
                ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
            }
        });
    });
</script>
