﻿@model string

<canvas id="barChartUserBetsPoints"></canvas>

<script>
    $(function () {
        var dataIn = {
            userName : '@Model'
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("BarChartUserBetsPoints", "Stats")',
            cache: false,
            data: dataIn,
            success: function (result) {
                if (result.ok) {
                var ctx1 = $("canvas").get(0).getContext("2d");
                var gradient1 = ctx1.createLinearGradient(300, 0, 0, 0);
                gradient1.addColorStop(0, 'rgba(255, 119, 119, 0.94)');
                gradient1.addColorStop(1, 'rgba(133, 180, 242, 0.91)');
                var dataT = {
                    labels: result.chData[0],
                    datasets: [
                        {
                            data: result.chData[1],
                            backgroundColor: gradient1,
                            hoverBackgroundColor: gradient1,
                            borderColor: gradient1,
                            borderWidth: 1
                        }
                    ]
                };
                var ctx = $("#barChartUserBetsPoints");

                // ReSharper disable once UnusedLocals
                var prototype = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: dataT,
                    options: {
                        scales:
                        {
                            xAxes: [{
                                position: 'top',
                                display: true,
                                gridLines: {
                                    color: '#eee'
                                },
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: Math.max.apply(null, result.chData[1]) + 1,
                                    step: 1,
                                    callback : function(value) {if (value % 1 === 0) {return value;} else return ""}
                                }
                            }]
                        },
                        title: {
                            display: true,
                            text: 'Punkty za poszczególne mecze'
                        },
                        legend: {
                            display: false
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItems) {
                                    return result.chData[2][tooltipItems.index] + ': ' + result.chData[1][tooltipItems.index] +' pkt.';
                                }
                            }

                        }
                    }
                });
                } else {
                    ShowToaster(result.message, "error");
                }
            },
            error: function () {
                ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
            }
        });
    });
</script>
