﻿@model string

<canvas id="lineChartUserPointsHistory"></canvas>

<script>
    var dataIn = {
        userName : '@Model'
    }

    $(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LineChartUserPointsHistory", "Stats")',
            cache: false,
            data: dataIn,
            success: function (result) {
                if (result.ok) {
                var dataT = {
                    labels: result.chData[0],
                    datasets: [
                        {
                            label: "Twoje punkty",
                            fill: true,
                            lineTension: 0,
                            backgroundColor: "transparent",
                            borderColor: '#6ccef0',
                            pointBorderColor: '#6ccef0',
                            pointHoverBackgroundColor: '#6ccef0',
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            borderWidth: 3,
                            pointBackgroundColor: "#6ccef0",
                            pointBorderWidth: 0,
                            pointHoverRadius: 4,
                            pointHoverBorderColor: "#fff",
                            pointHoverBorderWidth: 0,
                            pointRadius: 4,
                            pointHitRadius: 0,
                            data: result.chData[1],
                            spanGaps: false
                        }
                    ]
                };
                var ctx = $("#lineChartUserPointsHistory");

                // ReSharper disable once UnusedLocals
                var prototype = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    options: {
                        title: {
                            display: true,
                            text: 'Punkty względem czasu'
                        },
                        responsive: true,
                        legend: {
                            display: false
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        },
                        maintainAspectRatio : false,
                        scales:
                        {
                            yAxes: [{
                                position: 'top',
                                display: true,
                                gridLines: {
                                    color: '#eee'
                                },
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: Math.round((Math.max.apply(null, result.chData[1]) + 10) / 10) * 10
                                }
                            }]
                        }
                    }
                });
                } else {
                    ShowToaster(result.message, "error");
                }
            },
            error: function () {
                ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
            }
        });
    });
</script>