﻿@model string

<canvas id="lineChartUserPointsHistory"></canvas>

<script>
    var lineChartUserPointsHistoryCounter = { value: 0 };
    var lineChartUserPointsHistoryPallete = ["#ff7676", "#6ccef0", "#ffff76", "#7676ff", "#88ff7d", "#ffba7d"];
    
    $(function () {
        var dataIn = {
            userName : '@Model'
        }
        var dataT;
        $.ajax({
            type: "POST",
            url: '@Url.Action("LineChartUserPointsHistoryAllUsers", "Stats")',
            data: dataIn,
            cache: false,
            success: function (result) {
                if (result.ok) {

                var dataSetArrayLabel = [],
                    dataSetArrayValue = [];


                // Labele
                    var i;
                    for (i = 0; i < result.chData.length; i++) {
                        dataSetArrayLabel.push(result.chData[i][0]);
                }

                // Wartości
                    for (i = 0; i < result.chData.length; i++) {
                        
                        var color = RandomColorGenerator(lineChartUserPointsHistoryCounter, lineChartUserPointsHistoryPallete);
                        var localDataSet = {                       
                        label: result.chData[i][2][0],
                        fill: false,
                        lineTension: 0.5,
                        backgroundColor: color,
                        borderColor: color,
                        pointBorderColor: color,
                        pointHoverBackgroundColor: color,
                        pointBackgroundColor: color,
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        borderWidth: 3,
                        data: result.chData[i][1],
                        spanGaps: false,
                        pointBorderWidth: 0,
                        pointHoverRadius: 4,
                        pointHoverBorderColor: "#fff",
                        pointHoverBorderWidth: 0,
                        pointRadius: 4,
                        pointHitRadius: 0
                    }

                    dataSetArrayValue.push(localDataSet);
                }
                    
                dataT = {
                    labels: result.chData[1][0],
                    datasets: dataSetArrayValue                   
                };

                //}
                
                var ctx = $("#lineChartUserPointsHistory");

                // ReSharper disable once UnusedLocals
                var prototype = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    options: {
                        title: {
                            display: true,
                            text: 'Punkty względem czasu'
                        },
                        responsive: true,
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        },
                        multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
                        maintainAspectRatio : false,
                        scales: {
                            yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    callback : function(value) {if (value % 1 === 0) {return value;} else return ""}
                                }
                            }]
                        }
                    }
                });
            } else {
                ShowToaster(result.message, "error");
                }
            },
            error: function () {
                ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
            }
        });
    });
</script>