﻿<canvas id="pieChartOverUnderRatio"></canvas>

<script>
    $(function () {

   

        $.ajax({
            type: "POST",
            url: '@Url.Action("PieChartOverUnderRatioAllScores", "Stats")',
            cache: false,
            success: function (result) {
                if (result.ok) {
                var dataT = {
                    labels: result.chData[0],
                    datasets: [
                        {
                            data: result.chData[1],
                            backgroundColor: result.chData[2]
                        }
                    ]
                };
                var ctx = $("#pieChartOverUnderRatio");

                // ReSharper disable once UnusedLocals
                var prototype = new Chart(ctx, {
                    type: 'pie',
                    data: dataT,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                            labels:
                                {
                                    fontSize: 16
                                }
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        },
                        maintainAspectRatio: false
                    }
                });
                } else {
                    ShowToaster(result.message, "error");
                }
            },
            error: function () {
                ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
            }
        });
    });
</script>
