﻿@{
    ViewData["Title"] = "Statystyki Google Analytics";
}

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
</script>


<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Statystyki Google</h2>
    </div>
</header>

<div class="container-fluid">
    <div class="row padding-10">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Nav pills -->
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#menu0">Odwiedźiny</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu1">Najpopularniejsze strony</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu2">Godziny odwiedzin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu3">Najpopularniejsze przeglądarki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu4">Urządzenia</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="menu0">
                            @Html.Partial("~/Views/Stats/GoogleAnalytics/_Visits.cshtml")
                        </div>
                        <div class="tab-pane container fade" id="menu1">
                            @Html.Partial("~/Views/Stats/GoogleAnalytics/_MostVisits.cshtml")
                        </div>
                        <div class="tab-pane container fade" id="menu2">
                            @Html.Partial("~/Views/Stats/GoogleAnalytics/_HourVisits.cshtml")
                        </div>
                        <div class="tab-pane container fade" id="menu3">
                            @Html.Partial("~/Views/Stats/GoogleAnalytics/_Browsers.cshtml")
                        </div>
                        <div class="tab-pane container fade" id="menu4">
                            @Html.Partial("~/Views/Stats/GoogleAnalytics/_Devices.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
