﻿@model IEnumerable<BetWorldCup.Models.BetViewModels.Match>

@{
    ViewData["Title"] = "Aktualizacja wyników";
}

@if (Model.Any(p => p.StartDate < DateTime.Now && p.StartDate.AddHours(2) > DateTime.Now))
{
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Trwające mecze</h2>
        </div>
    </header>

    foreach (var match in Model.Where(p => p.StartDate < DateTime.Now && p.StartDate.AddHours(2) > DateTime.Now))
    {
        @Html.Partial("Partials/_Match", match)
    }
}

@if (Model.Any(p => p.StartDate < DateTime.Now))
{
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Ostatnie mecze</h2>
        </div>
    </header>

    foreach (var match in Model.Where(p => p.StartDate < DateTime.Now))
    {
        @Html.Partial("Partials/_Match", match)
    }
}





