﻿@using BetWorldCup.Models.BetViewModels
@model IEnumerable<Match>
    
@{
    ViewData["Title"] = "Aktrualizacja meczy";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Mecze</h2>
    </div>
</header>
<div class="container-fluid padding-10">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Dodaj mecz:</h3>
            </div>
            <div class="card-body">
                @Html.Partial("Partials/_MatchModify", new Match { StartDate = DateTime.Now }, new ViewDataDictionary(ViewData) { { "AvaliableTeams", ViewBag.Teams } })
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Mecze:</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Data rozpoczęcia</th>
                                <th>Gospodarz</th>
                                <th>Gość</th>
                                <th>Mnożnik</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var match in Model)
                            {
                                <tr>
                                    <td>@match.MatchId</td>
                                    <td>@match.StartDate.ToString("g")</td>
                                    <td>@match.HomeTeam.LongName</td>
                                    <td>@match.AwayTeam.LongName</td>
                                    <td>@match.Multiplier</td>
                                    <td><a asp-action="DeleteMatch" asp-route-id="@match.MatchId">Usuń</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
