﻿@model IEnumerable<BetWorldCup.Models.BetViewModels.Team>
    
@{
    ViewData["Title"] = "Aktualizacja drużyn";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Drużyny</h2>
    </div>
</header>

<div class="container-fluid">
    <div class="row padding-10">
        @foreach (var team in Model)
        {
            @Html.Partial("Partials/_TeamEliminatedForm", team)
        }
    </div>
</div>




