﻿@model IEnumerable<ApplicationUser>
    
@{
    ViewData["Title"] = "Aktualizacja użytkowników";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Użytkownicy</h2>
    </div>
</header>

<div class="container-fluid">
    <div class="row padding-10">
        @foreach (var user in Model)
        {
            @Html.Partial("Partials/_UserFunStatusForm", user)
        }
    </div>
</div>


