﻿@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Zmiana hasła";
    Layout = "_LayoutAccount";
}

@Html.Partial("_LayoutAccountLeftSide")

<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

                <div class="form-group">
                    <input asp-for="Email" class="input-material" />
                    <label asp-for="Email" class="label-material"></label>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>

                <div class="form-group">
                    <input asp-for="OldPassword" class="input-material" />
                    <label asp-for="OldPassword" class="label-material"></label>
                    <span asp-validation-for="OldPassword" class="text-danger small"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Password" class="input-material" />
                    <label asp-for="Password" class="label-material"></label>
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="input-material" />
                    <label asp-for="ConfirmPassword" class="label-material"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                </div>
                <div class="form-group text-center no-margin-bottom">
                    <button type="submit" class="btn btn-primary">Zmień hasło</button>
                    <p style="margin: 4px">
                        <a asp-action="Index" asp-controller="Home">Wróć do strony głównej</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
