﻿@{
    ViewData["Title"] = "Potwierdź e-mail";
    Layout = "_LayoutAccount";
}

@Html.Partial("_LayoutAccountLeftSide")
<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <div class="form-group text-center no-margin-bottom">
                <a class="text-center">Dziękujemy za potwierdzenie adresu e-mail.</a>
            </div>
            <br />
            <div class="form-group text-center no-margin-bottom">
                <p>
                    <a asp-action="Login" class="forgot-pass">Wróć do strony logowania.</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

