﻿@{
    ViewData["Title"] = "Błąd!";
    Layout = "_LayoutAccount";
    var title = ViewBag.MessageTitle;
    var message = ViewBag.Message;
}

@Html.Partial("_LayoutAccountLeftSide")

<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <p class="text-center">
                <strong>@title</strong><br />
                @Html.Raw(message)
            </p>
            <br />
            <div class="text-center">
                <a asp-action="Index" asp-controller="Home">Wróć na stronę główną</a>
            </div>
            <div class="text-center">
                <a asp-action="Login">Wróć do strony logowania</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}