﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Zarejestruj konto";
    Layout = "_LayoutAccount";
}

@Html.Partial("_LayoutAccountLeftSide")
<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <p class="text">
                Udało Ci się zalogować przy użyciu konta: <strong>@ViewData["LoginProvider"]</strong>.
                Wypełnij dodatkowe dane w celu zarejestrowania konta.
            </p>
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="form-group">
                    <input asp-for="Name" value="@Model.Name" class="input-material" />
                    <label asp-for="Name" class="label-material"></label>
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Email" value="@Model.Email" class="input-material"/>
                    <label asp-for="Email" class="label-material active"></label>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

