﻿@{
    ViewData["Title"] = "Potwierdzenie przypomnienia hasła";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@Html.Partial("_LayoutAccountLeftSide")
<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <p class="text-center">
                Sprawdź swój e-mail w celu <br/>
                przypomnienia hasła.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

