﻿@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Zaloguj";
    Layout = "_LayoutAccount";
}

@Html.Partial("_LayoutAccountLeftSide")

<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="login-form">
                <div asp-validation-summary="ModelOnly" class="validation text-danger text-center"></div>
                <div class="form-group text-center no-margin-bottom">
                    <input asp-for="Email" class="input-material"/>
                    <label asp-for="Email" class="label-material"></label>
                    <span asp-validation-for="Email" class="text-danger small text-left"></span>
                </div>
                <div class="form-group text-center no-margin-bottom">
                    <input asp-for="Password" class="input-material"/>
                    <label asp-for="Password" class="label-material"></label>
                    <span asp-validation-for="Password" class="text-danger small text-left"></span>
                </div>
                <div class="form-group text-center no-margin-bottom">
                    <div>
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe"/>
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group text-center no-margin-bottom">
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                    <p style="margin: 4px">
                        <a asp-action="ForgotPassword" class="forgot-pass">Zapomniałeś hasła?</a>
                    </p>
                    <p style="margin: 4px">
                        <small>Nowy użytkownik? </small><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="signup">Zarejestruj się!</a>
                    </p>
                </div>
            </form>
            <div id="externalLogin">
                <hr />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count > 0)
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div>
                                <label class="input-material">Zaloguj się przez</label>
                                <div class="form-group text-center no-margin-bottom">

                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Zaloguj przez @provider.DisplayName account">@provider.Name</button>
                                    }
                                </div>
                            </div>
                        </form>
                    }
                }
                <hr />
            </div>
            <div class="d-flex">
                <div class="col-6 text-left"><a asp-action="Rules" asp-controller="Docs">Regulamin</a></div>
                <div class="col-6 text-right"><a asp-action="PrivacyPolicy" asp-controller="Docs">Polityka prywatności</a></div>                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}