﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Zarejestruj";
    Layout = "_LayoutAccount";
}

@Html.Partial("_LayoutAccountLeftSide")
<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <p class="text">
                    Utwórz nowe konto
                </p>
                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

                <div class="form-group">
                    <input asp-for="Name" class="input-material"/>
                    <label asp-for="Name" class="label-material"></label>
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="input-material"/>
                    <label asp-for="Email" class="label-material"></label>
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="input-material"/>
                    <label asp-for="Password" class="label-material"></label>
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="input-material"/>
                    <label asp-for="ConfirmPassword" class="label-material"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
