﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
    Layout = "_LayoutAccount";
}

@Html.Partial("_LayoutAccountLeftSide")
<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <form asp-action="ResetPassword" method="post" id="reset-pass-form">
                <div asp-validation-summary="ModelOnly" class="validation text-danger text-center"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group text-center no-margin-bottom">
                    <input asp-for="Email" class="input-material" />
                    <label asp-for="Email" class="label-material"></label>
                    <span asp-validation-for="Email" class="text-danger small text-left"></span>
                </div>
                <div class="form-group text-center no-margin-bottom">
                    <input asp-for="Password" class="input-material"  />
                    <label asp-for="Password" class="label-material"></label>
                    <span asp-validation-for="Password" class="text-danger small text-left"></span>
                </div>
                <div class="form-group text-center no-margin-bottom">
                    <input asp-for="ConfirmPassword" class="input-material" />
                    <label asp-for="ConfirmPassword" class="label-material"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger small text-left"></span>
                </div>
                <div class="form-group text-center no-margin-bottom">
                    <button type="submit" class="btn btn-primary">Zmień hasło</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

