﻿@{
    ViewData["Title"] = "Potwierdź e-mail";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@Html.Partial("_LayoutAccountLeftSide")
<!-- Form Panel    -->
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <p class="text-center">
                <strong>@ViewBag.Email</strong><br/>
                Twój email nie został jeszcze aktywowany.<br />
                Jeżeli nie dostałeś wiadomości aktywacyjnej <br />
                sprawdź w folderze SPAM lub wyślij <br />
                kolejną wiadomość aktywacyjną.<br />
            </p>
            <br />
            <form asp-action="SendEmailConfirm" asp-route-email="@ViewBag.Email" method="post">
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
            </form>
            <p class="text-center">
                lub
            </p>
            <div class="text-center">
                <a asp-action="Login">Wróć do strony logowania</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

