﻿@model BetWorldCup.Models.BetViewModels.Match

@{
    var homeLogo = Url.Content($"~/img/flags/{Model.HomeTeam.ShortName}.jpg");
    var awayLogo = Url.Content($"~/img/flags/{Model.AwayTeam.ShortName}.jpg");
    var multiplier = Model.Multiplier * Model.HomeTeam.Multiplier * Model.AwayTeam.Multiplier;
}


<section class="dashboard-counts padding-10">
    <div class="container-fluid">
        <div class="row bg-white has-shadow hidden-sm-down">
            <!-- Item -->
            <div class="col-md-3">
                <div class="item d-flex align-items-center h-100">
                    <img src="@homeLogo" class="img-flag" alt="" />
                    <div class="title">
                        <span class="title--left">@Model.HomeTeam.LongName</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item d-flex align-items-center h-33">
                    <div class="title w-85 text-center">
                        <span>Data rozpoczęcia meczu:</span>
                    </div>
                </div>
                <div class="item d-flex align-items-center h-33">
                    <div class="title w-85 text-center">
                        <span class="text-bold">@Model.StartDate.ToString("MMM dd, HH:mm")</span>
                    </div>
                </div>
                <div class="item d-flex align-items-center h-33">
                    <div class="title w-85 text-center">
                        <span>Mnożnik: </span>
                        <span data-toggle="tooltip"
                              data-placement="bottom"
                              title="Całkowity mnożnik (drużyny i mecz) x@(multiplier)!"
                              class="badge bg-red badge-corner badge-custom score-change">x@(multiplier)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item d-flex align-items-center h-50">
                    <div class="title w-100 text-center">
                        <span>Wynik:</span>
                    </div>
                </div>
                <div class="item d-flex align-items-center h-50">
                    @Html.Partial("Partials/_Score", Model, new ViewDataDictionary(ViewData) { { "SmUp", "" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="item d-flex align-items-center h-100 pull-right">
                    <div class="title">
                        <span class="title--right">@Model.AwayTeam.LongName</span>
                    </div>
                    <img src="@awayLogo" class="img-flag" alt="" />
                </div>
            </div>
        </div>
        <div class="row bg-white has-shadow hidden-sm-up">
            <!-- Item -->
            <div class="col-12">
                <div class="title w-85 text-center">
                    <span class="text-bold">@Model.StartDate.ToString("MMM dd, HH:mm")</span>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="col-md-3">
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <span>@Model.HomeTeam.LongName</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item d-flex align-items-center">
                            <div class="title">
                                <span>@Model.AwayTeam.LongName</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="col-md-3">
                        <img src="@homeLogo" class="img-flag center" alt="" />
                    </div>
                    <div class="col-md-3">
                        <img src="@awayLogo" class="img-flag center" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item d-flex align-items-center h-50">
                    <div class="title w-100 text-center">
                        <span>Wynik:</span>
                    </div>
                    <span data-toggle="tooltip"
                          data-placement="bottom"
                          title="Całkowity mnożnik (drużyny i mecz) x@(multiplier)!"
                          class="badge bg-red badge-corner badge-custom score-change-mobile">x@(multiplier)</span>
                </div>
                <div class="item d-flex align-items-center h-50">
                    <div class="number w-100 text-center">
                        @Html.Partial("Partials/_Score", Model, new ViewDataDictionary(ViewData) { { "SmUp", "-sm-up" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        $("#@Model.MatchId-update-score").on("click",
            function(e) {
                e.preventDefault();

                var $this = $(this);

                if (StartPosting($this)) {

                    var url = '@Url.Action("UpdateScore", "Admin")',
                        data = {
                            MatchId: $("#@Model.MatchId-form-update-score-MatchId").val(),
                            StartDate: $("#@Model.MatchId-form-update-score-StartDate").val(),
                            HomeScore: $("#@Model.MatchId-form-update-score-HomeScore").val(),
                            AwayScore: $("#@Model.MatchId-form-update-score-AwayScore").val(),
                            IsFinished: $("#@Model.MatchId-form-update-score-IsFinished").val()
                        };

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: {
                            model: data
                        },
                        success: function(result) {
                            if (result.ok) {
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error: function () {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });

        $("#@Model.MatchId-update-score-sm-up").on("click",
            function(e) {
                e.preventDefault();

                var $this = $(this);

                if (StartPosting($this)) {

                    var url = '@Url.Action("UpdateScore", "Admin")',
                        data = {
                            MatchId: $("#@Model.MatchId-form-update-score-MatchId-sm-up").val(),
                            StartDate: $("#@Model.MatchId-form-update-score-StartDate-sm-up").val(),
                            HomeScore: $("#@Model.MatchId-form-update-score-HomeScore-sm-up").val(),
                            AwayScore: $("#@Model.MatchId-form-update-score-AwayScore-sm-up").val(),
                            IsFinished: $("#@Model.MatchId-form-update-score-IsFinished-sm-up").val()
                        };

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: {
                            model: data
                        },
                        success: function(result) {
                            if (result.ok) {
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error: function () {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
    });
</script>