﻿@model BetWorldCup.Models.BetViewModels.Match
    
@{
    var teams = ViewBag.AvaliableTeams;
}

<form id="modify-match-form" class="form-horizontal">
    <input type="hidden" asp-for="MatchId"/>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label label-form-match-modify">Gospodarz</label>
        <div class="col-sm-9 select">
            <select asp-for="HomeTeam" asp-items="@teams" class="form-control"></select>
        </div>
    </div>
    <div class="line"></div>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label label-form-match-modify">Gość</label>
        <div class="col-sm-9 select">
            <select asp-for="AwayTeam" asp-items="@teams" class="form-control"></select>
        </div>
    </div>
    <div class="line"></div>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label label-form-match-modify">Mnożnik</label>
        <div class="col-sm-9">
            <input asp-for="Multiplier" type="number" min="1" max="3" value="1" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label label-form-match-modify">Id ligi w API</label>
        <div class="col-sm-9">
            <input asp-for="LeagueId" type="number" class="form-control">
        </div>
    </div>
    <div class="line"></div>
    <div class="form-group row">
        <label class="col-sm-3 form-control-label label-form-match-modify">Data rozpoczęcia</label>
        <div class="col-sm-9">
            <input asp-for="StartDate" class="form-control">
        </div>
    </div>
    <div class="line"></div>
    <div class="form-group row">
        <div class="col-sm-4 offset-sm-3">
            <button id="modify-match" type="submit" class="s-btn"><i class="fa fa-save"></i></button>
        </div>
    </div>
</form>

<script>
    $(function () {
        $("#modify-match").on("click",
            function (e) {
                e.preventDefault();

                var $this = $(this);

                if (StartPosting($this)) {

                    var url = '@Url.Action("PostNewMatch", "Admin")',
                        model = {
                            MatchId: $("#MatchId").val(),
                            Multiplier: $("#Multiplier").val(),
                            StartDate: $("#StartDate").val(),
                            LeagueId: $("#LeagueId").val(),
                            ApiId: $("#ApiId").val()
                            
                        },
                        data = {
                            model: model,
                            homeId: $("#HomeTeam").val(),
                            awayId: $("#AwayTeam").val()
                        };

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data:  data,
                        success: function(result) {
                            if (result.ok) {
                                PostingSuccess($this);
                                window.location.reload();
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error: function () {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
    });
</script>