﻿@model BetWorldCup.Models.BetViewModels.Match
    
@{
    var smUp = ViewBag.SmUp;
}

<form id="@Model.MatchId-form-update-score@(smUp)" class="form-inline">
    <input id="@Model.MatchId-form-update-score-MatchId@(smUp)" type="hidden" asp-for="MatchId"/>
    <input id="@Model.MatchId-form-update-score-StartDate@(smUp)" type="hidden" asp-for="StartDate" />
    
    <div class="d-inline-flex justify-content-center i-checks w-100">
        <input id="@Model.MatchId-form-update-score-IsFinished@(smUp)" type="checkbox" asp-for="@Model.IsFinished" value="@Model.IsFinished" class="checkbox-template">
        <label asp-for="@Model.IsFinished">Zakończony</label>
    </div>
   
    <div class="d-inline-flex align-items-center justify-content-center justify-content-center--margin-left">
        <div class="btn-group-vertical">
            <span class="add-home-@Model.MatchId btn-add-remove"><i class="fa fa-plus"></i></span>
            <span class="remove-home-@Model.MatchId btn-add-remove"><i class="fa fa-minus"></i></span>
        </div>
        <input id="@Model.MatchId-form-update-score-HomeScore@(smUp)" type="number" asp-for="HomeScore" min="0" class="form-numeric w-25" />
        <div class="text-numeric"><strong> : </strong></div>
        <input id="@Model.MatchId-form-update-score-AwayScore@(smUp)" type="number" asp-for="AwayScore" min="0" class="form-numeric w-25" />
        <div class="text-numeric"></div>
        <div class="btn-group-vertical">
            <span class="add-home-@Model.MatchId btn-add-remove"><i class="fa fa-plus"></i></span>
            <span class="remove-home-@Model.MatchId btn-add-remove"><i class="fa fa-minus"></i></span>
        </div>

        <button id="@Model.MatchId-update-score@(smUp)" type="submit" class="s-btn"><i class="fa fa-save"></i></button>
    </div>
</form>

<script>
    $(document).ready(function () {

        var addHome = $('.add-home-@Model.MatchId');
        var minusHome = $('.remove-home-@Model.MatchId');
        var addAway = $('.add-away-@Model.MatchId');
        var minusAway = $('.remove-away-@Model.MatchId');
        var inputHome = $('#@Model.MatchId-form-update-score-HomeScore@(smUp)');
        var inputAway = $('#@Model.MatchId-form-update-score-AwayScore@(smUp)');
        var inputHome_val = inputHome.val();
        var inputAway_val = inputAway.val();

        addHome.click(function () {
            inputHome_val++;
            inputHome.val(inputHome_val);
        });
        minusHome.click(function () {
            if (inputHome.val() > 0) {
                inputHome_val--;
                inputHome.val(inputHome_val);
            }
        });

        addAway.click(function () {
            inputAway_val++;
            inputAway.val(inputAway_val);
        });
        minusAway.click(function () {
            if (inputAway.val() > 0) {
                inputAway_val--;
                inputAway.val(inputAway_val);
            }
        });
    });
</script>