﻿@model BetWorldCup.Models.BetViewModels.Team
    

<div class="statistics col-lg-4 col-12 padding-5-all">
    <div class="statistic d-flex bg-white has-shadow">
        <form id="form-update-eliminated-@Model.TeamId" asp-action="UpdateEliminatedStatus" class="form-inline w-100">
            <input type="hidden" asp-for="TeamId" />
            <div class="col-5">
                <label><b>@Model.LongName</b></label>
            </div>
            <div class="col-5">
                <div class="i-checks">
                    <input asp-for="IsEliminated" id="@Model.TeamId-eliminated-checkbox" type="checkbox" value="@(Model.IsEliminated ? "True" : "False")" class="checkbox-template">
                    @* ReSharper disable once Html.IdNotResolved *@
                    <label for="@Model.TeamId-eliminated-checkbox">Wyeliminowany</label>
                </div>
            </div>
            <div class="col-2 text-right">
                <button id="@Model.TeamId-update-eliminated-state" value="@Model.TeamId" type="submit" class="s-btn"><i class="fa fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#@Model.TeamId-update-eliminated-state").on("click",
            function (e) {
                e.preventDefault();
                
                var $this = $(this),
                    checkboxSelector = "#@Model.TeamId-eliminated-checkbox";

                if (StartPosting($this)) {
                    var url = '@Url.Action("UpdateEliminatedStatus", "Admin")',
                        data = {
                            TeamId: $this.val(),
                            IsEliminated: $(checkboxSelector).val()
                        }

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: data,
                        success: function (result) {
                            if (result.ok) {
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error: function () {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
    });
</script>