﻿@model ApplicationUser


<div class="statistics col-lg-4 col-12 padding-5-all">
    <div class="statistic d-flex bg-white has-shadow">
        <form id="form-update-fun-@Model.Id" asp-action="UpdateFunUser" class="form-inline w-100">
            <input type="hidden" asp-for="Id" />
            <div class="col-5">
                <label><b>@Model.Name</b></label>
            </div>
            <div class="col-5">
                <div class="i-checks">
                    <input asp-for="FunAccount" id="@Model.Id-fun-checkbox" type="checkbox" value="@(Model.FunAccount ? "True" : "False")" class="checkbox-template">
                    @* ReSharper disable once Html.IdNotResolved *@
                    <label for="@Model.Id-fun-checkbox">Fun Konto</label>
                </div>
            </div>
            <div class="col-2 text-right">
                <button id="@Model.Id-update-fun-state" value="@Model.Id" type="submit" class="s-btn"><i class="fa fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#@Model.Id-update-fun-state").on("click",
            function (e) {
                e.preventDefault();

                var $this = $(this),
                    checkboxSelector = "#@Model.Id-fun-checkbox";

                if (StartPosting($this)) {
                    var url = '@Url.Action("UpdateFunUser", "Admin")',
                        data = {
                            Id: $this.val(),
                            FunAccount: $(checkboxSelector).val()
                            }
                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: data,
                        success: function (result) {
                            if (result.ok) {
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error: function () {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
    });
</script>