﻿@model ApplicationUser
    

<div class="statistics col-lg-4 col-12 padding-5-all">
    <div class="statistic d-flex bg-white has-shadow">
        <form id="form-delete-user-@Model.Id" asp-action="DeleteUser" class="form-inline w-100">
            <input type="hidden" asp-for="Id" />
            <div class="col-5">
                <label><b>@Model.Name</b></label>
            </div>
            <div class="col-5">
                <div class="i-checks">
                    <input id="@Model.Id-delete-checkbox" type="checkbox" value="" class="checkbox-template">
                    @* ReSharper disable once Html.IdNotResolved *@
                    <label for="@Model.Id-delete-checkbox">Usuń</label>
                </div>
            </div>
            <div class="col-2 text-right">
                <button id="@Model.Id-delete" value="@Model.Id" type="submit" class="s-btn"><i class="fa fa-save"></i></button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#@Model.Id-delete").on("click",
            function (e) {
                e.preventDefault();
                debugger;
                var $this = $(this),
                    checkboxSelector = "#@Model.Id-delete-checkbox";

                if (StartPosting($this)) {
                    var url = '@Url.Action("DeleteUser", "Admin")',
                        data = {
                            id: $this.val(),
                            delete: $(checkboxSelector).val()
                        }

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: data,
                        success: function (result) {
                            if (result.ok) {
                                PostingSuccess($this);
                                location.reload();
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error: function () {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
    });
</script>