﻿@model IEnumerable<BetWorldCup.Models.StatsViewModels.ClassificationRow>
    
<div class="table-responsive@(ViewBag.Overflow)">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Poz.</th>
            <th>Użytkownik</th>
            <th>Pkt.</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
             if (user.IsLoggedUser)
             {
                 <tr class="table-info">
                     <th scope="row">@user.Position</th>
                     <td><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Name" class="right-sidebar-link-blue">@user.Name</a></td>
                     <td>@user.Points</td>
                 </tr>
             }
             else if (user.IsFunUser)
             {
                 <tr class="table-warning">
                     <th scope="row">@user.Position</th>
                     <td><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Name" class="right-sidebar-link-blue">@user.Name</a></td>
                     <td>@user.Points</td>
                 </tr>
             }
             else
             {
                 <tr>
                     <th scope="row">@user.Position</th>
                     <td><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Name" class="right-sidebar-link-blue">@user.Name</a></td>
                     <td>@user.Points</td>
                 </tr>
             }
        }
        </tbody>
    </table>
</div>

