﻿@model IEnumerable<BetWorldCup.Models.RESTApi.Table.Table>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Pozycja</th>
            <th>Nazwa</th>
            <th>Punkty</th>
            <th>Mecze</th>
            <th>W/D/L</th>
            <th>Strzelone</th>
            <th>Stracone</th>
            <th>Różnica</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.rank</td>
                <td>
                    <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@row.TeamId">
                        @row.LongName
                    </a>
                </td>
                <th scope="row">@row.points</th>
                <td>@row.matches</td>
                <td>@($"{row.won}/{row.drawn}/{row.lost}")</td>
                <td>@row.goals_scored</td>
                <td>@row.goals_conceded</td>
                <td>@(row.goal_diff.StartsWith("-") ? row.goal_diff : $"+{row.goal_diff}")</td>
            </tr>
        }
        </tbody>
    </table>
</div>