﻿<div class="row text-center">
    <div class="col">
        <h6>Legenda</h6>
    </div>
</div>
<div class="row">
    <div class="col-4 small text-center">Ty</div>
    <div class="col-4 small text-center">PIWO</div>
    <div class="col-4 small text-center">Regular</div>
</div>
<div class="row">
    <div class="col-4">
        <div class="you"></div>
    </div>
    <div class="col-4">
        <div class="user"></div>
    </div>
    <div class="col-4">
        <div class="fun-user"></div>
    </div>
</div>