﻿@model IEnumerable<BetWorldCup.Models.StatsViewModels.UserMatchResult>

<div class="card">
    <div class="card-header d-flex align-items-center">
        <h3 class="h4">Punkty za mecz:</h3>
    </div>
    <div class="card-body">
        <div class="col-12 padding-10">
            @Html.Partial("~/Views/Stats/Tables/_Legend.cshtml")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Użytkownik</th>
                    <th>Wynik</th>
                    <th>Typ</th>
                    <th>Pkt.</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model)
                {
                    if (user.IsLoggedUser)
                    {
                        <tr class="table-info">
                            <th scope="row"><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Username">@user.Username</a></th>
                            <td>@user.Score</td>
                            <td>@user.Result</td>
                            <td>@user.Points</td>
                        </tr>
                    }
                    else if (user.IsFunUser)
                    {
                        <tr class="table-warning">
                            <th scope="row"><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Username">@user.Username</a></th>
                            <td>@user.Score</td>
                            <td>@user.Result</td>
                            <td>@user.Points</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th scope="row"><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Username">@user.Username</a></th>
                            <td>@user.Score</td>
                            <td>@user.Result</td>
                            <td>@user.Points</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
