﻿<div class="card">
    <div class="card-header d-flex align-items-center">
        <h3 class="h4">Klasyfikacja generalna:</h3>
    </div>
    <div class="card-body">
        <div class="col-12 padding-10">
            @Html.Partial("~/Views/Stats/Tables/_Legend.cshtml")
        </div>
        @Html.RenderAction("FullClassificationTable", "Stats", "")
    </div>
</div>
