﻿@model IEnumerable<BetWorldCup.Models.StatsViewModels.ClassificationRow>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Drużyna</th>
            <th>Pkt./Mecz</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var team in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@team.Points">
                        @team.Id
                    </a>
                </td>
                <td>@Html.Raw(team.Name)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
