﻿@model IEnumerable<BetWorldCup.Models.StatsViewModels.ClassificationRow>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Mecz</th>
            <th>Punkty</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var match in Model)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="SingleMatch" asp-route-id="@match.Position" class="right-sidebar-link-blue">@match.Id</a></td>
                <td>@Html.Raw(match.Name)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
