﻿@model IEnumerable<BetWorldCup.Models.StatsViewModels.ClassificationRow>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Użytkownik</th>
            <th>Ilość</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var user in Model)
        {
            if (user.IsLoggedUser)
            {

                <tr class="table-info">
                    <td><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Name" class="right-sidebar-link-blue">@user.Name</a></td>
                    <td>@user.Points</td>
                </tr>
            }
            else if (user.IsFunUser)
            {
                <tr class="table-warning">
                    <td><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Name" class="right-sidebar-link-blue">@user.Name</a></td>
                    <td>@user.Points</td>
                </tr>
            }
            else
            {
                <tr>
                    <td><a asp-controller="Stats" asp-action="UserData" asp-route-user="@user.Name" class="right-sidebar-link-blue">@user.Name</a></td>
                    <td>@user.Points</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

