﻿<canvas id="LineChartHourAvarageVisits"> </canvas>

<script>
    $.ajax({
        type: "POST",
        url: '@Url.Action("LineChartHourAvarageVisits", "Stats")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (result) {
            if (result.ok) {
                var dataT = {
                    labels: result.chData[0],
                    datasets: [
                        {
                            label: "Odsłony",
                            backgroundColor: Color(window.chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: window.chartColors.blue,
                            data: result.chData[1]
                        }
                    ]
                };
                var ctx = $("#LineChartHourAvarageVisits");

                // ReSharper disable once UnusedLocals
                var prototype = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Statystyka odwiedzin'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Godzina'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Ilość'
                                }
                            }]
                        }
                    }
                });
            } else {
                ShowToaster(result.message, "error");
            }
        },
        error: function () {
            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
        }
    });
</script>
