﻿@{
    ViewData["Title"] = "Statystyki";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Statystyki</h2>
    </div>
</header>

<div class="container-fluid">
    <div class="row padding-10">
        <div class="col-md-4">
            @Html.Partial("Tables/_StatsPageFullClassification")
        </div>
        <div class="col-md-4">
            <div class="pie-chart-ratio card">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Najwięcej trafień wyników:</h3>
                </div>
                <div class="card-body chart-square allstats">
                    @Html.RenderAction("TopScoreClassificationTable", "Stats", "")
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Najwięcej trafień rezultatów:</h3>
                </div>
                <div class="card-body chart-square allstats">

                    @Html.RenderAction("TopResultClassificationTable", "Stats", "")
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Najwięcej błednych rezultatów:</h3>
                </div>
                <div class="card-body chart-square allstats">

                    @Html.RenderAction("TopMissesClassificationTable", "Stats", "")
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Najlepiej typowane drużyny:</h3>
                </div>
                <div class="card-body chart-square allstats">
                    @Html.RenderAction("TopTeamsTable", "Stats", "")
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Najgorzej typowane drużyny:</h3>
                </div>
                <div class="card-body chart-square allstats">
                    @Html.RenderAction("WorstTeamsTable", "Stats", "")
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pie-chart-ratio card">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Wyniki typowania:</h3>
                </div>
                <div class="card-body chart-square">
                    @Html.Partial("~/Views/Stats/Charts/_PieChartUserPointsRatioAllMatch.cshtml")
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">+/- 2.5 gola (ilość typów):</h3>
                </div>
                <div class="card-body chart-square">
                    @Html.Partial("~/Views/Stats/Charts/_PieChartOverUnderRatioAllScores.cshtml")
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Najlepsze mecze:</h3>
                </div>
                <div class="card-body chart-square allstats">
                    @Html.RenderAction("TopMatchesTable", "Stats", "")
                </div>
                <div class="dropdown-divider"></div>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Najgorsze mecze:</h3>
                </div>
                <div class="card-body chart-square allstats">
                    @Html.RenderAction("WorstMatchesTable", "Stats", "")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="statistics col-12">
            <div class="statistic d-flex align-items-center bg-white has-shadow chart-square">
                @Html.Partial("~/Views/Stats/Charts/_LineChartUserPointsHistoryAllUsers.cshtml", User.Identity.Name)
            </div>
        </div>
    </div>
    <div class="row padding-10">
        <div class="statistics col-12">
            <div class="statistic d-flex align-items-center bg-white has-shadow chart-square">
                @Html.Partial("~/Views/Stats/Charts/_LineChartUserPositionHistoryForAllUsers.cshtml", User.Identity.Name)
            </div>
        </div>
    </div>
</div>