﻿@using BetWorldCup.Models.BetViewModels
@using BetWorldCup.Models.RESTApi.Table
@using Match = BetWorldCup.Models.BetViewModels.Match

@model Team

@{
    ViewData["Title"] = $"Statystyki {Model.LongName}";
    var matches = ViewBag.Matches as List<Match> ?? new List<Match>();
    var table = ViewBag.Table as IEnumerable<Table> ?? new List<Table>();
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Tabela: @Model.LongName</h2>
    </div>
</header>
<section class="dashboard-counts padding-10">
    <div class="container-fluid">
        <div class="row bg-white has-shadow no-padding-top no-padding-bottom">
            @Html.Partial("~/Views/Stats/Tables/_GroupTable.cshtml", table)
        </div>
    </div>
</section>

@if (matches.Any())
{
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Mecze: @Model.LongName</h2>
        </div>
    </header>

    foreach (var match in matches)
    {
        @Html.Partial("~/Views/Home/Partials/_Match.cshtml", match)
    }
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Statystyki: @Model.LongName</h2>
    </div>
</header>
<div class="container-fluid">
    <div class="row padding-10">
        <div class="col-md-6">
            <div class="pie-chart-ratio card">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Średnia ilość bramek na mecz:</h3>
                </div>
                <div class="card-body chart-square">
                    @Html.Partial("~/Views/Stats/Charts/_PieChartTeamAvarageGoals.cshtml", Model.TeamId)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pie-chart-ratio card">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Wyniki drużyny:</h3>
                </div>
                <div class="card-body chart-square">
                    @Html.Partial("~/Views/Stats/Charts/_PieChartTeamResults.cshtml", Model.TeamId)
                </div>
            </div>
        </div>
    </div>
</div>