﻿@model ApplicationUser

@{
    var isMyPage = Model.Email == User.Identity.Name;
    var scores = ViewBag.Scores;
    var results = ViewBag.Results;
    var missess = ViewBag.Missess;
    var noBets = ViewBag.NoBets;
    ViewData["Title"] = $"Dane użytkownika: {Model.Name}";
}

<header class="page-header">
    <div class="container-fluid">
        <div class="hidden-sm-down">
            <h2 class="no-margin-bottom d-flex justify-content-between">
                <span class="span-margin-left"><small>@(isMyPage ? "Witaj!" : "Użytkownik:")</small>&nbsp;&nbsp;@Model.Name</span>
                <span class="span-margin-right"><small>Typ użytkownika:</small> @(Model.FunAccount ? "REGULAR" : "PIWO")</span>
            </h2>
        </div>
        <div class="hidden-sm-up">
            <h2 class="row no-margin-bottom justify-content-center font-16 d-block">
                <span><small>@(isMyPage ? "Witaj!" : "Użytkownik:")</small>&nbsp;&nbsp;@Model.Name</span>
                <br />
                <span><small>Typ użytkownika:</small> @(Model.FunAccount ? "REGULAR" : "PIWO")</span>
            </h2>
        </div>
        
    </div>
</header>

<div class="container-fluid">
        <div class="row">
            <div class="statistics col-lg-4 col-12 padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-blue"><i class="fa fa-list-ol"></i></div>
                    <div class="text"><strong>@Model.Position</strong><br><small>POZYCJA</small></div>
                </div>
            </div>
            <div class="statistics col-lg-4 col-12 padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-red"><i class="fa fa-exclamation"></i></div>
                    <div class="text"><strong>@Model.Points</strong><br><small>PUNKTY</small></div>
                </div>
            </div>
            <div class="statistics col-lg-4 col-12 padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-yellow"><i class="fa fa-thumbs-up"></i></div>
                    <div class="text"><strong>@scores</strong><br><small>TRAFIONE WYNIKI</small></div>
                </div>
            </div>
            <div class="statistics col-lg-4 col-12 padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-green"><i class="fa fa-check"></i></div>
                    <div class="text"><strong>@results</strong><br><small>TRAFIONE REZULTATY</small></div>
                </div>
            </div>
            <div class="statistics col-lg-4 col-12 padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-orange"><i class="fa fa-thumbs-down"></i></div>
                    <div class="text"><strong>@missess</strong><br><small>NIE TRAFIONE</small></div>
                </div>
            </div>
            <div class="statistics col-lg-4 col-12 padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow">
                    <div class="icon bg-violet"><i class="fa fa-times"></i></div>
                    <div class="text"><strong>@noBets</strong><br><small>OPUSZCZONE MECZE</small></div>
                </div>
            </div>
        </div>
        <div class="row padding-10-top">
            <div class="statistics col-12  padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow chart-square">
                    @Html.Partial("Charts/_LineChartUserPointsHistory", Model.UserName)
                </div>
            </div>
        </div>
        <div class="row padding-10-top">
            <div class="statistics col-12  padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow chart-square">
                    @Html.Partial("Charts/_LineChartUserPositionHistory", Model.UserName)
                </div>
            </div>
        </div>
        <div class="row padding-10-top">
            <div class="statistics col-12  padding-5-all-old">
                <div class="statistic d-flex align-items-center bg-white has-shadow chart-high-x2">
                    @Html.Partial("Charts/_BarChartUserBetsPoints", Model.UserName)
                </div>
            </div>
        </div>
    </div>
