﻿@using BetWorldCup.Enum
@model BetWorldCup.Models.BetViewModels.Match

@{
    var homeLogo = Url.Content($"~/img/flags/{Model.HomeTeam.ShortName}.jpg");
    var awayLogo = Url.Content($"~/img/flags/{Model.AwayTeam.ShortName}.jpg");
    var matchState = Model.StartDate > DateTime.Now ? MatchStateEnum.Future : Model.StartDate.AddHours(2) > DateTime.Now ? MatchStateEnum.Present : MatchStateEnum.Past;
    var yourBet = Model.Bets.FirstOrDefault(p => p.User.Email == User.Identity.Name);
    var matchMultiplier = Model.Multiplier * Model.HomeTeam.Multiplier * Model.AwayTeam.Multiplier;
    ViewData["Title"] = $"Mecz: {Model.HomeTeam.ShortName} - {Model.AwayTeam.ShortName}";
}


<header class="page-header hidden-sm-down">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Mecz:&nbsp;&nbsp;
            <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.HomeTeam.TeamId">
                @Model.HomeTeam.LongName
            </a>
            - 
            <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.AwayTeam.TeamId">
                @Model.AwayTeam.LongName
            </a>
        </h2>
    </div>
</header>
<header class="page-header hidden-sm-up">
    <div class="container-fluid">
        <h2 class="no-margin-bottom"><span>Mecz:</span>&nbsp;&nbsp;@Model.HomeTeam.ShortName - @Model.AwayTeam.ShortName</h2>
    </div>
</header>
<section class="chosen-results hidden-sm-down">
    <div class="container-fluid">
        <div class="row">
            <div class="chart col-md-4">
                <header class="page-header">
                    <div class="container-fluid">
                        <h1 class="text-center no-margin-bottom">
                            <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.HomeTeam.TeamId">
                                @Model.HomeTeam.LongName
                            </a>
                        </h1>
                        @if (Model.HomeTeam.Multiplier != 1)
                        {
                            <span data-toggle="tooltip"
                                  data-placement="bottom"
                                  title="Punkty tej drużyny mnożymy x@(Model.HomeTeam.Multiplier)!"
                                  class="badge bg-green badge-corner badge-custom home single">x@(Model.HomeTeam.Multiplier)</span>
                        }
                    </div>
                </header>
                <div class="bg-white d-flex align-items-center justify-content-center has-shadow padding-10">
                    <img class="img-fluid" src="@homeLogo" alt="" />
                </div>
            </div>
            <div class="chart col-md-4">
                @switch (matchState)
                {
                    case MatchStateEnum.Present:
                    case MatchStateEnum.Past:
                        <div class="statistic d-flex align-items-center bg-white has-shadow">
                            <div class="container-fluid">
                                <span class="text-bold">@Model.StartDate.ToString("f")</span>
                            </div>
                        </div>
                        <header class="page-header">
                            <div class="container-fluid">
                                <h1 class="text-center no-margin-bottom">Wynik:</h1>
                                @if (Model.Multiplier != 1)
                                {
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          title="Punkty za ten mecz mnożymy x@(Model.Multiplier)!"
                                          class="badge bg-orange badge-corner badge-custom home single">x@(Model.Multiplier)</span>
                                }
                            </div>
                        </header>
                        <div class="statistic d-flex bg-white has-shadow">
                            <h1 class="ml-2">
                                @Model.HomeTeam.ShortName
                            </h1>
                            <h1 class="ml-auto">
                                @Model.HomeScore : @Model.AwayScore
                            </h1>
                            <h1 class="ml-auto">
                                @Model.AwayTeam.ShortName
                            </h1>
                        </div>
                        <header class="page-header">
                            <div class="container-fluid">
                                <h1 class="text-center no-margin-bottom">Twój typ:</h1>
                                @if (matchMultiplier != 1)
                                {
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          title="Całkowity mnożnik (drużyny i mecz) x@(matchMultiplier)!"
                                          class="badge bg-red badge-corner badge-custom home single">x@(matchMultiplier)</span>
                                }
                            </div>
                        </header>
                        <div class="statistic d-flex bg-white has-shadow no-margin-bottom">
                            @if (yourBet is null)
                            {
                                <div class="container-fluid">
                                    <span class="text-red">Nie typowałeś w tym meczu</span>
                                </div>
                            }
                            else
                            {
                                <h1 class="ml-2">
                                    @Model.HomeTeam.ShortName
                                </h1>
                                <h1 class="ml-auto">
                                    @yourBet.HomeScore : @yourBet.AwayScore
                                </h1>
                                <h1 class="ml-auto">
                                    @Model.AwayTeam.ShortName
                                </h1>
                            }
                        </div>
                        <div class="statistic d-flex align-items-center bg-white has-shadow no-margin-bottom">
                            <div class="container-fluid">
                                @if (!(yourBet is null))
                                {
                                    if (yourBet.BetResult != null)
                                    {
                                        <span class="text-bold">@(yourBet.BetResult?.TypeToString): </span>
                                        <span class="text-red text-bold">@(yourBet.BetResult.Points * Model.Multiplier * Model.HomeTeam.Multiplier * Model.AwayTeam.Multiplier)</span>
                                        <span class="text-bold"> pkt.</span>
                                    }
                                    else
                                    {
                                        <span class="text-red">Trwa aktualizacja wyniku.</span>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case MatchStateEnum.Future:
                        <div class="statistic d-flex align-items-center bg-white has-shadow">
                            <div class="container-fluid">
                                <span class="text-red">@Model.StartDate.ToString("f")</span>
                            </div>
                            @if (Model.Multiplier != 1)
                            {
                                <span data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="Punkty za ten mecz mnożymy x@(Model.Multiplier)!"
                                      class="badge bg-orange badge-corner badge-custom date-badge">x@(Model.Multiplier)</span>
                            }
                        </div>
                        <header class="page-header">
                            <div class="container-fluid">
                                <h1 class="text-center no-margin-bottom">Twój typ:</h1>
                                @if (matchMultiplier != 1)
                                {
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          title="Całkowity mnożnik (drużyny i mecz) x@(matchMultiplier)!"
                                          class="badge bg-red badge-corner badge-custom home single">x@(matchMultiplier)</span>
                                }
                            </div>
                        </header>
                        if (yourBet is null)
                        {
                            <div class="statistic d-flex align-items-center bg-white has-shadow">
                                <div class="container-fluid">
                                    <span class="text-red">Jeszcze nie typowałeś!</span>
                                </div>
                            </div>
                        }
                        <div class="statistic d-flex align-items-center bg-white has-shadow">
                                @Html.Partial("Partials/_SingleBet", yourBet, new ViewDataDictionary(ViewData) { { "matchId", Model.MatchId }, { "SmUp", "" } })
                        </div>
                        break;
                }
            </div>

            <div class="chart col-md-4">
                <header class="page-header">
                    <div class="container-fluid">
                        <h1 class="text-center no-margin-bottom">
                            <a asp-controller="Stats" asp-action="TeamData" asp-route-teamId="@Model.AwayTeam.TeamId">
                                @Model.AwayTeam.LongName
                            </a>
                        </h1>
                        @if (Model.AwayTeam.Multiplier != 1)
                        {
                            <span data-toggle="tooltip"
                                  data-placement="bottom"
                                  title="Punkty tej drużyny mnożymy x@(Model.AwayTeam.Multiplier)!"
                                  class="badge bg-green badge-corner badge-custom single">x@(Model.AwayTeam.Multiplier)</span>
                        }
                    </div>
                </header>
                <div class="bg-white d-flex align-items-center justify-content-center has-shadow padding-10">
                    <img class="img-fluid" src="@awayLogo" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chosen-results hidden-sm-up">
    <div class="container-fluid">
        <div class="row">
            <div class="chart col-12">
                <div class="statistic d-flex align-items-center bg-white has-shadow">
                    @if (Model.HomeTeam.Multiplier != 1)
                    {
                        <span data-toggle="tooltip"
                              data-placement="right"
                              title="Punkty tej drużyny mnożymy x@(Model.HomeTeam.Multiplier)!"
                              class="badge bg-green badge-corner badge-custom single single-mobile">x@(Model.HomeTeam.Multiplier)</span>
                    }
                    <div class="container-fluid">
                        <span class="text-bold">@Model.StartDate.ToString("f")</span>
                    </div>
                    @if (Model.AwayTeam.Multiplier != 1)
                    {
                        <span data-toggle="tooltip"
                              data-placement="left"
                              title="Punkty tej drużyny mnożymy x@(Model.AwayTeam.Multiplier)!"
                              class="badge bg-green badge-corner badge-custom home single single-mobile">x@(Model.AwayTeam.Multiplier)</span>
                    }
                </div>
            </div>
            <div class="chart col-12">
                <div class="bg-white d-flex has-shadow padding-10">
                    <div class="padding-5-all">
                        <img class="img-fluid" src="@homeLogo" alt="" />
                    </div>
                    <div class="padding-5-all">
                        <img class="img-fluid" src="@awayLogo" alt="" />
                    </div>
                </div>
            </div>
            <div class="chart col-12">
                @switch (matchState)
                {
                    case MatchStateEnum.Present:
                    case MatchStateEnum.Past:
                        <header class="page-header">
                            <div class="container-fluid">
                                <h1 class="text-center no-margin-bottom">Wynik:</h1>
                                @if (Model.Multiplier != 1)
                                {
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Punkty za ten mecz mnożymy x@(Model.Multiplier)!"
                                          class="badge bg-orange badge-corner badge-custom home single">x@(Model.Multiplier)</span>
                                }
                            </div>
                        </header>
                        <div class="statistic d-flex bg-white has-shadow">
                            <h1 class="ml-2">
                                @Model.HomeTeam.ShortName
                            </h1>
                            <h1 class="ml-auto">
                                @Model.HomeScore : @Model.AwayScore
                            </h1>
                            <h1 class="ml-auto">
                                @Model.AwayTeam.ShortName
                            </h1>
                        </div>
                        <header class="page-header">
                            <div class="container-fluid">
                                <h1 class="text-center no-margin-bottom">Twój typ:</h1>
                                @if (matchMultiplier != 1)
                                {
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Całkowity mnożnik (drużyny i mecz) x@(matchMultiplier)!"
                                          class="badge bg-red badge-corner badge-custom home single">x@(matchMultiplier)</span>
                                }
                            </div>
                        </header>
                        <div class="statistic d-flex bg-white has-shadow no-margin-bottom">
                            @if (yourBet is null)
                            {
                                <div class="container-fluid">
                                    <span class="text-red">Nie typowałeś w tym meczu</span>
                                </div>
                            }
                            else
                            {
                                <h1 class="ml-2">
                                    @Model.HomeTeam.ShortName
                                </h1>
                                <h1 class="ml-auto">
                                    @yourBet.HomeScore : @yourBet.AwayScore
                                </h1>
                                <h1 class="ml-auto">
                                    @Model.AwayTeam.ShortName
                                </h1>
                            }
                        </div>
                        <div class="statistic d-flex align-items-center bg-white has-shadow no-margin-bottom">
                            <div class="container-fluid">
                                @if (!(yourBet is null))
                                {
                                    if (yourBet.BetResult != null)
                                    {
                                        <span class="text-bold">@(yourBet.BetResult?.TypeToString): </span>
                                        <span class="text-red text-bold">@(yourBet.BetResult.Points * Model.Multiplier * Model.HomeTeam.Multiplier * Model.AwayTeam.Multiplier)</span>
                                        <span class="text-bold"> pkt.</span>
                                    }
                                    else
                                    {
                                        <span class="text-red">Trwa aktualizacja wyniku.</span>
                                    }
                                }
                            </div>
                        </div>
                        break;
                    case MatchStateEnum.Future:
                        <header class="page-header">
                            <div class="container-fluid">
                                @if (Model.Multiplier != 1)
                                {
                                    <span data-toggle="tooltip"
                                          data-placement="right"
                                          title="Punkty za ten mecz mnożymy x@(Model.Multiplier)!"
                                          class="badge bg-orange badge-corner badge-custom single">x@(Model.Multiplier)</span>
                                }
                                <h1 class="text-center no-margin-bottom">Twój typ:</h1>
                                @if (matchMultiplier != 1)
                                {
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Całkowity mnożnik (drużyny i mecz) x@(matchMultiplier)!"
                                          class="badge bg-red badge-corner badge-custom home single">x@(matchMultiplier)</span>
                                }
                            </div>
                        </header>
                        if (yourBet is null)
                        {
                            <div class="statistic d-flex align-items-center bg-white has-shadow">
                                <div class="container-fluid">
                                    <span class="text-red">Jeszcze nie typowałeś!</span>
                                </div>
                            </div>
                        }
                        <div class="statistic d-flex align-items-center bg-white has-shadow">
                            @Html.Partial("Partials/_SingleBet", yourBet, new ViewDataDictionary(ViewData) { { "matchId", Model.MatchId }, { "SmUp", "-sm-up" } })
                        </div>
                        break;
                }
            </div>
        </div>
    </div>
</section>

@if (matchState != MatchStateEnum.Future)
{
    <section class="tables no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @Html.RenderAction("MatchResultTable", "Stats", "", new { matchId = Model.MatchId })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="pie-chart-ratio card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Typowane rezultaty:</h3>
                        </div>
                        <div class="card-body chart-square">
                            @Html.Partial("~/Views/Stats/Charts/_PieChartMatchResultRatio.cshtml", Model.MatchId)
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Wyniki typowania:</h3>
                        </div>
                        <div class="card-body chart-square">
                            @Html.Partial("~/Views/Stats/Charts/_PieChartUserPointsRatio.cshtml", Model.MatchId)
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">+/- 2.5 gola (ilość typów):</h3>
                        </div>
                        <div class="card-body chart-square">
                            @Html.Partial("~/Views/Stats/Charts/_PieChartOverUnderRatio.cshtml", Model.MatchId)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pie-chart-ratio card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Typowane wyniki:</h3>
                        </div>
                        <div class="card-body chart-high">
                            @Html.Partial("~/Views/Stats/Charts/_BarChartMatchScoreRatio.cshtml", Model.MatchId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $(function () {
        if ($("#@Model.MatchId-form-place-bet-HomeScore").val() === "") $("#@Model.MatchId-form-place-bet-HomeScore").val(0);
        if ($("#@Model.MatchId-form-place-bet-AwayScore").val() === "") $("#@Model.MatchId-form-place-bet-AwayScore").val(0);
        if ($("#@Model.MatchId-form-place-bet-HomeScore-sm-up").val() === "") $("#@Model.MatchId-form-place-bet-HomeScore-sm-up").val(0);
        if ($("#@Model.MatchId-form-place-bet-AwayScore-sm-up").val() === "") $("#@Model.MatchId-form-place-bet-AwayScore-sm-up").val(0);

        $("#@Model.MatchId-place-bet").on("click",
            function(e) {
                e.preventDefault();

                var $this = $(this);

                if (StartPosting($this)) {

                    var url = '@Url.Action("PlaceBet", "Home")',
                        data = {
                            BetId: $("#@Model.MatchId-form-place-bet-BetId").val(),
                            HomeScore: $("#@Model.MatchId-form-place-bet-HomeScore").val(),
                            AwayScore: $("#@Model.MatchId-form-place-bet-AwayScore").val()
                        };

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: {
                            model: data,
                            matchId: @Model.MatchId
                        },
                        success: function(result) {
                            if (result.ok) {
                                $("#@Model.MatchId-form-place-bet-BetId").val(result.betId);
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error : function() {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
        $("#@Model.MatchId-place-bet-sm-up").on("click",
            function(e) {
                e.preventDefault();

                var $this = $(this);

                if (StartPosting($this)) {

                    var url = '@Url.Action("PlaceBet", "Home")',
                        data = {
                            BetId: $("#@Model.MatchId-form-place-bet-BetId-sm-up").val(),
                            HomeScore: $("#@Model.MatchId-form-place-bet-HomeScore-sm-up").val(),
                            AwayScore: $("#@Model.MatchId-form-place-bet-AwayScore-sm-up").val()
                        };

                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: false,
                        data: {
                            model: data,
                            matchId: @Model.MatchId
                        },
                        success: function(result) {
                            if (result.ok) {
                                $("#@Model.MatchId-form-place-bet-BetId-sm-up").val(result.betId);
                                PostingSuccess($this);
                            } else {
                                PostingError($this);
                                ShowToaster(result.message, "error");
                            }
                        },
                        error : function() {
                            PostingError($this);
                            ShowToaster("Wystąpił nieoczekiwany wyjątek!", "error");
                        }
                    });
                }
            });
    });
</script>